@{
    ViewBag.Title = "MusicMinistry";
}
<div id="music" class="container row col-md-12 margintoptwo">
    <h3>MUSIC MINISTRY</h3>
    <hr />
    <p class="text-justify">
        St. Malachy Parish offers a wide array of musical traditions at its Masses. The Second Vatican Council asked for the “full and active participation”[1] of the congregation, and the music is selected with this in mind.
    </p>
    <p class="text-justify">
        <b>4:00pm Vigil Mass:</b> The music at this Mass features piano, organ, occasional classical guitar, and vocal harmonies. The liturgical music is selected mainly from the modern American repertoire.
    </p>
        <p class="text-justify">
            <b>8:00am Mass:</b> The music at this Mass features organ, piano, and a cantor. The music selections range from traditional hymns to the modern American repertoire.
    </p>
        <p class="text-justify">
            <b>10:30am Mass:</b> The music at this Mass features piano, guitar, drums, bass, keyboard, flute, percussion, and a small choir. The music selections are taken from a wide variety of traditions but feature predominantly contemporary Christian songs.
    </p>
        <p class="text-justify">
            <b>Children’s Choir:</b> St. Malachy Parish will once again feature a Children’s choir on select days throughout the 2018-2019 school year. Please email <a href="mailto:music@saint-malachy.org"> music@saint-malachy.org</a> if you are interesting in having your child sing.
    </p>
        <p class="text-justify">
        If you are interested in being a cantor, singing in the choir, or playing an instrument in the band, please contact <b>Danny Mainardi</b> at <a href="mailto:music@saint-malachy.org"> music@saint-malachy.org</a>.
    </p>
</div>
