
@{
    ViewBag.Title = "Online Giving";
}
<div class="row container margintopthree">
    <div>
        Please find the help document for Online Giving here: @Html.ActionLink("Download Pdf","OnlineGiving","pdf")
    </div>
</div>