@{
    ViewBag.Title = "Baptism Dates 2018";
}
<div class="container row">
    <div class="col-md-9 paddingleftremove">
        <h2>Baptism Dates 2018</h2>
        <hr />
        <div class="col-md-4 paddingleftremove">
            <h3>Dates for Baptism:</h3>
            <p>January 12, 4:30pm Mass</p>
            <p>February 11, 10:30 Mass</p>
            <p>March 10, 4pm Mass</p>
            <p>April 8, 10:30 Mass</p>
            <p>May 26, 4pm Mass</p>
            <p>June 10, 10:30 Mass</p>
            <p>July 7, 4pm Mass</p>
            <p>August 12, 10:30 Mass</p>
            <p>September 8, 4pm Mass</p>
            <p>October 14, 10:30 Mass</p>
            <p>November 10, 4pm Mass</p>
            <p>December 16, 10:30 Mass</p>
        </div>
        <div class="col-md-5 paddingleftremove">
            <h3>Baptism Preparation:<span class="text-danger">*</span></h3>
            <p>January 4, 6pm</p>
            <p>February 1, 6pm</p>
            <p>March 1, 6pm</p>
            <p>March 22, 6pm</p>
            <p>May 3, 6pm</p>
            <p>May 31, 6pm</p>
            <p>June 28, 6pm</p>
            <p>August 2, 6pm</p>
            <p>August 30, 6pm</p>
            <p>October 4, 6pm</p>
            <p>November 1, 6pm</p>
            <p>December 6, 6pm</p>
        </div>
        <div class="col-md-12 paddingleftremove text-danger">
            <p>* It is mandatory that you attend the baptism preparation in order to have your child baptized. Light refreshments will be held in the conference room.</p>
        </div>
    </div>
    <div class="col-md-3">
        @{Html.RenderPartial("_BaptismLeftMenu"); }
    </div>

</div>
