@{
    ViewBag.Title = "Baptism Dates 2017";
}
<div class="container row">
    <div class="col-md-9 paddingleftremove">
        <h2>Baptism Dates 2017</h2>
        <hr />
        <div class="col-md-4 paddingleftremove">
            <h3>Baptism:</h3>
            <p>January 7, 4pm Mass</p>
            <p>February 5, 10:30 Mass</p>
            <p>March 11, 4pm Mass</p>
            <p>April 23, 10:30 Mass</p>
            <p>June 11, 10:30 Mass</p>
            <p>July 8, 4pm Mass</p>
            <p>August 13, 10:30 Mass</p>
            <p>September 9, 4pm Mass</p>
            <p>October 8, 10:30 Mass</p>
            <p>November 11, 4pm Mass</p>
            <p>December 10, 10:30 Mass</p>
        </div>
        <div class="col-md-5 paddingleftremove">
            <h3>Dinner Preparation:<span class="text-danger">*</span></h3>
            <p>December 29, 6pm</p>
            <p>January 26, 6pm</p>
            <p>March 2, 6pm</p>
            <p>April 6, 6pm</p>
            <p>June 1, 6pm</p>
            <p>June 29, 6pm</p>
            <p>August 3, 6pm</p>
            <p>August 31, 6pm</p>
            <p>September 28, 6pm</p>
            <p>November 2, 6pm</p>
            <p>November 30, 6pm</p>
        </div>
        <div class="col-md-12 paddingleftremove text-danger">
            <p>* It is mandatory that you attend the dinner preparation in order to have your child baptized. Dinner is held in the rectory.</p>
        </div>
    </div>
    <div class="col-md-3">
        @{Html.RenderPartial("_BaptismLeftMenu"); }
    </div>

</div>
