
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Baptism_Layout.cshtml";
}

    <div>
        <h3>BAPTISM</h3>
        <hr />
        <img src="~/Content/Images/BaptismImage.jpg" />
        <p>
            <b>Baptism is the basis of the whole Christian life, the gateway to life in the Spirit and the door which gives access to the other sacraments. Through Baptism we are freed from sin and reborn as sons of God; we become members of Christ, are incorporated into the Church and made sharers in her mission (CCC 1213).</b>
        </p>
        <p>
            Baptism is the first sacrament of Christian initiation. It is the sacrament that frees a person from original sin and makes that person a member of Christ and His Church, thus being the way to a new and spiritual life. It is administered by immersing the recipient in water or by pouring water on the person’s head “in the name of the Father and of the Son and of the Holy Spirit”. One must be baptized before sharing in any of the other sacraments. Baptism is the foundation for all ministry and life in the church, and confers a commitment to follow Christ and spread his message throughout the world. Furthermore, in baptism, one is incorporated into the life, death, and resurrection of Christ, and thus participates in the gift of resurrection and eternal life with Christ.
        </p>
        <p>
            Infants can be baptized soon after birth. At the time of baptism, parents vow to practice their faith and provide a Catholic upbringing for the child. Adults who have never been baptized take part in the RCIA (Rite of Christian Initiation of Adults), and will typically be baptized at the Easter Vigil. The Catholic Church recognizes baptisms from other Christian denominations that baptize in the name of the Father, the Son, and the Holy Spirit. A person can only be baptized once.
        </p>
        <h3>The Catechism of the Catholic Church on Baptism:</h3>
        <hr />

        <p>
            1275  Christian initiation is accomplished by <b>three sacraments together</b>: Baptism which is the beginning of new life; Confirmation which is its strengthening; and the Eucharist which nourishes the disciple with Christ's Body and Blood for his transformation in Christ.
        </p>
        <p>
            1276  "Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you" (Mt 28:19-20).
        </p>
        <p>
            1277 Baptism is birth into the new life in Christ. In accordance with the Lord's will, <b>it is necessary for salvation</b>, as is the Church herself, which we enter by Baptism.
        </p>
        <p>
            1279  The fruit of Baptism, or baptismal grace, is a rich reality that includes <b>forgiveness of original sin and all personal sins, birth into the new life by which man becomes an adoptive son of the Father, a member of Christ and a temple of the Holy Spirit.</b> By this very fact the person baptized is incorporated into the Church, the Body of Christ, and made a sharer in the priesthood of Christ.
        </p>
        <p>
            1280  Baptism imprints on the soul an <b>indelible spiritual sign</b>, the character, which consecrates the baptized person for Christian worship. Because of the character Baptism cannot be repeated (cf. DS 1609 and DS 1624).
        </p>
        <p>
            1282 Since the earliest times, Baptism has been administered to children, for it is a grace and <b>a gift of God that does not presuppose any human merit</b>; children are baptized in the faith of the Church. Entry into Christian life gives access to <b>true freedom</b>.
        </p>
        <p>
            1283 With respect to children who have died without Baptism, the liturgy of the Church invites us to <b>trust in God's mercy</b> and to pray for their salvation.
        </p>
        <p>
            1284 <b>In case of necessity</b>, any person can baptize provided that he have the intention of doing that which the Church does and provided that he pours water on the candidate's head while saying: "I baptize you in the name of the Father, and of the Son, and of the Holy Spirit."
        </p>
        <a href="@Url.Action("BaptismAtMalachy", "Baptism")">
            <p class="btn btn-primary btn-lg btn-block">
                I'm interested in having my child baptized at St. Malachy's
            </p></a>
</div>


