
@{
    ViewBag.Title = "OnlineForm";
}
<div class="container row">
    <div class="col-md-9 paddingleftremove ">
        <h2>Baptism Online Form</h2>
        <hr />
        <p class="col-md-12 row text-danger">
            *** PLEASE  Fill in the entire sheet, if not applicable please write “N/A”, when complete hit the submit button to EMAIL and the rectory staff will receive all this information
        </p>
        <div class="onlineFormTopMargin">
            <form class="form-horizontal paddingleftremove" id="baptismform" method="get">
                <div class="form-group">
                    <label for="BaptismDate" class="col-md-3 control-label textAlignForm labelWidth">Baptism Date<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="BaptismDate" id="BaptismDate" placeholder="Select Baptism Date" type="text" required />
                    </div>
                    <label for="DinnerDate" class="col-md-3 control-label textAlignForm labelWidth">Dinner Preparation<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="DinnerDate" id="DinnerDate" placeholder="Dinner Preparation" type="text" required disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChildLastName" class="col-md-3 control-label textAlignForm labelWidth">Child's Last Name<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="ChildLastName" id="ChildLastName" placeholder="Child last name" type="text" required/>
                    </div>
                    <label for="ChildName" class="col-md-3 control-label textAlignForm labelWidth">Child's Name<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="ChildName" id="ChildName" placeholder="First and middle name" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChildDateOfBirth" class="col-md-3 control-label textAlignForm labelWidth">Child's DOB<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="ChildDateOfBirth" id="ChildDateOfBirth" placeholder="Child's DOB" type="text" required/>
                    </div>
                    <label for="ChildPlaceOfBirth" class="col-md-3 control-label textAlignForm labelWidth">Child's Place Of Birth<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="ChildPlaceOfBirth" id="ChildPlaceOfBirth" placeholder="Child's place of birth" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="FatherFullName" class="col-md-3 control-label textAlignForm labelWidth">Father's Full Name<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="FatherFullName" id="FatherFullName" placeholder="First, Middle, Last" type="text" required/>
                    </div>
                    <label for="MotherFirstName" class="col-md-3 control-label textAlignForm labelWidth">Mother's First Name<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="MotherFirstName" id="MotherFirstName" placeholder="First name" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MotherMaidenName" class="col-md-3 control-label textAlignForm labelWidth">Mother's Maiden Name<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="MotherMaidenName" id="MotherMaidenName" placeholder="Last name only" type="text" required/>
                    </div>
                    <label for="Address" class="col-md-3 control-label textAlignForm labelWidth">Address<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="Address" id="Address" placeholder="Street address" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ParentsMarried" class="col-md-3 control-label textAlignForm labelWidth">Are Parents Married:</label>
                        <div class="col-md-6 controlWidth radio">
                            <label><input type="radio" name="parMarried" value="Yes" checked/>Yes</label>
                            <label><input type="radio" name="parMarried" value="No" />No</label>
                        </div>
                    <div id="parChurchMarriage">
                        <label for="ChurchMarriage" class="col-md-3 control-label textAlignForm labelWidth">Were Married in Catholic Church:</label>
                        <div class="col-md-6 controlWidth radio">
                            <label><input type="radio" name="parChurchMarriage" value="Yes" checked/>Yes</label>
                            <label><input type="radio" name="parChurchMarriage" value="No" />No</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ParentsConfirmed" class="col-md-3 control-label textAlignForm labelWidth">Has Parents Been Confirmed:</label>
                    <div class="col-md-6 controlWidth radio">
                        <label><input type="radio" name="parConfirmed" value="Yes" checked/>Yes</label>
                        <label><input type="radio" name="parConfirmed" value="No" />No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="CityState" class="col-md-3 control-label textAlignForm labelWidth">City, State<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="CityState" id="CityState" placeholder="City, State" type="text" required/>
                    </div>
                    <label for="Phone" class="col-md-3 control-label textAlignForm labelWidth">Phone<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="Phone" id="Phone" placeholder="Phone" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-md-3 control-label textAlignForm labelWidth">Email<span class="error">*</span>:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" name="Email" id="Email" placeholder="Email" type="text" required/>
                    </div>
                </div>
                <div class="col-md-12 row">
                    <h2>GODPARENT/SPONSOR Information</h2>
                    <hr />
                    <p>Canon law requires that a godparent be a Catholic who has been confirmed and who lives a life of faith.</p>

                    <p>Only one godparent, male or female, is sufficient and necessary; but there may be two, one of each sex.  Two godparents of the same sex are not permitted.</p>

                    <p> non-catholic of the opposite sex may serve as a witness with the Catholic godparent.</p>

                    <p>
                        For more information please visit
                        <a href="http://www.catholicdoors.com/faq/qu81.htm" target="_blank">http://www.catholicdoors.com/faq/qu81.htm</a>
                    </p>
                </div>
                <div class="col-md-12 row text-danger">
                    <p>
                        **Please note that one godparent must be a practicing Catholic and the other must be a practicing Christian.
                    </p>
                </div>
                <div class="form-group">
                    <label for="GodfatherName" class="col-md-3 control-label textAlignForm labelWidth">Godfather Name:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" id="GodfatherName" placeholder="Full Name" type="text" />
                    </div>
                    <label for="GodfatherReligion" class="col-md-3 control-label textAlignForm labelWidth">Godfather Religion:</label>
                    <div class="col-md-6 controlWidth">
                        <input class="form-control" id="GodfatherReligion" placeholder="Godfather Religion" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="GodfatherConfirmed" class="col-md-4 control-label textAlignForm labelWidth20">Godfather Confirmed?<br /><span class="text-danger">(N/A if not catholic)</span></label>
                    <div class="col-md-6 controlWidth radio">
                        <label><input type="radio" name="gfConfirmed" value="Yes"/>Yes</label>
                        <label><input type="radio" name="gfConfirmed" value="No"/>No</label>
                        <label><input type="radio" name="gfConfirmed" value="NA"/>N/A</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="GodmotherName" class="col-md-3 control-label textAlignForm labelWidth">Godmother Name:</label>
                    <div class="col-sm-6 controlWidth">
                        <input class="form-control" id="GodmotherName" placeholder="Full Name" type="text" />
                    </div>
                    <label for="GodmotherReligion" class="col-md-3 control-label textAlignForm labelWidth">Godmother Religion:</label>
                    <div class="col-sm-6 controlWidth">
                        <input class="form-control" id="GodmotherReligion" placeholder="Godmother Religion" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="GodMotherConfirmed" class="col-md-4 control-label textAlignForm labelWidth20">Godmother Confirmed?<br /><span class="text-danger">(N/A if not catholic)</span></label>
                    <div class="col-md-6 controlWidth radio">
                        <label><input type="radio" name="gmConfirmed" value="Yes"/>Yes</label>
                        <label><input type="radio" name="gmConfirmed" value="No"/>No</label>
                        <label><input type="radio" name="gmConfirmed" value="NA"/>N/A</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="CommentsQuestions" class="col-md-3 control-label textAlignForm labelWidth">Comments/Questions:</label>
                    <div class="col-md-6 controlWidth">
                        <textarea class="form-control" rows="5" id="CommentsQuestions"></textarea>
                    </div>
                </div>
                <div>
                    <button id="Submit" type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-md-12">
            @{Html.RenderPartial("_BaptismDatesModal"); }
        </div>
    </div>
    <div class="col-md-3">
        @{Html.RenderPartial("_BaptismLeftMenu"); }
    </div>
</div>
@Scripts.Render("~/bundles/baptism")




