@{
    ViewBag.Title = "Baptism";
}
<div class="container row">
    <div class="col-mds-3 paddingleftremove">

    </div>
    <div class="col-md-9">
        <h3>Saint Malachy Parish - Liturgical GuideSeries</h3>
        <hr />
        <h4>
            The Celebration of Infant Baptism
        </h4>
        
        <p>
            <font size="+2">T</font>he celebration of Baptism is a most joyful and proud moment
            in the life of the Church. For adults seeking membership in the community of believers,
            it is a time of conversion, faith and commitment expressed and ratified in the sacraments
            of initiation: baptism, confirmation and the Eucharist. For infants, it is no less
            a time of conversion, faith and commitment but the reference point now is the parents
            of the one to be baptized and, by extension, the larger community of the church.
            We are extremely happy that you are considering Saint Malachy Parish as the community
            where your child will be welcomed into the church and where her/his faith will be
            nurtured in the coming years. As you contemplate the baptism of your child, we are
            glad to share a few ideas and invite you into a process of thoughtful preparation.
        </p>
        <p>
            <img alt="Baptism" src="~/Content/Images/capucibaptism.jpg" align="right" width="213" height="160"><font size="+2">B</font>aptism introduces your child to the mystery of church. Through
            this sacrament your child first relates to the church, the mystical body of Christ,
            the local worshiping community. Too often, this sense of church as a major factor
            in baptism has been but a pale backdrop to what is perceived as primarily a private
            family event. At Saint Malachy Parish, both our preparation for and actual celebration
            of baptism strive to develop and affirm this larger communal sense of the sacrament.
            It is for this reason that we expect those who present their children for baptism
            to be worshiping members of the parish. It is for this reason that our preparation
            program brings together a number of families in a setting to meet, discuss and pray
            with each other. For this same reason we often schedule baptism during mass on certain
            Sundays of the year, i.e. when the larger parish community can be present. In what
            follows we will lay out a typical scenario for infant baptism.
        </p>
        <p>
            <font size="+2">F</font><b>irst Steps:</b> Either during pregnancy or shortly after
            the birth of your child you should make contact with the parish to indicate your
            interest in having your child baptized at Saint Malachy Parish.Usually this is by
            way of a phone call but please feel free to talk with one of the staff right after
            weekend mass. Since all sacraments are actions of the church, those presenting their
            children for baptism are expected to be believers [at least one of the parents]
            and members of a particular church [parish]. If you are not registered in the parish
            we will spend sometime talking with you when we meet with you in person [see below]
            about what parish membership means and ask you to formally register in the parish.
        </p>
        <p>
            <font size="+2">I</font>t often happens that the birth of a child is the first contact
            that a young couple have had with the church in a long time.If this is your case,
            be assured that we want to extend to you our congratulations on the birth of your
            child and our sincere welcome should you decide to join Saint Malachy Parish. Joining
            a parish is more than filling out a form. Joining a parish means bonding with other
            believers especially through regular participation in Sunday worship, lifelong learning
            and ministry. Soon after you make contact with the parish you will be invited to
            meet with the pastor, pastoral associate or other staff person who will extend the
            parish's greetings and attempt to answer any questions you may have about the sacrament
            or the parish and how you can begin to feel more at home at Saint Malachy's. We
            prefer to meet with young parents in person, preferably after the mass you usually
            attend on the weekend, so that we can get to know you a little better.
        </p>
        <p>
            <font size="+2">T</font><b>he Preparation:</b> After this initial meeting, you will
            be invited to join with a staff person and host couple who will conduct a one afternoon
            preparation session in the church. The session begins with attendance at a Sunday
            liturgy during which the child to be baptized is signed with the cross. A special
            blessing is prayed over the children, parents and godparents towards the end of
            the mass. Afterwards, a light lunch is served and then, for the next hour or so,
            parents and godparents meet with the other new parents in a context of reflection
            and prayer. The staff person and host couple will explore with the participants
            the meaning of baptism, the ensuing roles for the parents and godparents in the
            religious development of the child, the role of the parish in the ongoing life of
            the family, etc. The session is intended to be informal, friendly and informative.
            In addition to attending this preparation session, you will at some point be asked
            to fill out a form listing some of the pertinent information the church will need
            to register your child's baptism. This includes the names of both the parents and
            godparents, the child's date of birth, etc. Since in the Catholic Church one's baptismal
            record is of lifelong significance [all future sacraments including marriage are
            recorded on your church of baptisms registry], this information is very important.
            Regarding godparents,at least one should be a baptized and confirmed Roman Catholic
            who is actively a member of the church. The second person, should you choose to
            have one, may be a Protestant Christian who, again, is actively involved in his/her
            church. Asking nonbelievers or inactive Christians to be godparents puts them in
            a compromised position of publicly having to affirm what they do not really believe
            or practice. It is important to view the godparent's role as far more than a social
            convention. The godparent is a witness to a life of Christian faith, prayer and
            service.
        </p>
        <p>
            <font size="+2">T</font><b>he Celebration:</b> We regularly schedule baptisms about
            ten times a year either during one of the Sunday masses or on a Sunday afternoon.
            On rare occasions [illness in the family, relatives traveling a long distance who
            are not able to be present on a regularly scheduled Sunday, etc.] we will try to
            celebrate baptism at a different time. Experience has shown, however, that baptism
            during mass with festive music, robust ritual and a supportive congregation is far
            more beautiful and engaging than a private family ceremony.
        </p>
        <p>
            <font size="+2">W</font>hile many of the details regarding the actual celebration
            will be covered in the preparation session, we mention just a few salient features
            here. Family and friends of those to be baptized arrive early and are seated near
            the front of the church. All are asked to participate fully in the liturgy by attentively
            listening to the readings, fervently praying and joyfully singing the hymns and
            liturgical responses. The families are introduced at the beginning of the service
            to the congregation by the couple who have led the preparation session. After the
            readings and homily, the prayers of the faithful and the litany of the saints are
            sung by all. Thereafter,water is poured and blessed for the baptism. The parents
            and godparents, along with the entire congregation, are invited to profess their
            faith by responding in song to the questions of the creed. The children are then
            bathed in the water [baptized] and rubbed with chrism oil [anointed] in front of
            all the church. At this point, in one of the most touching aspects of our baptismal
            ritual, the child is held aloft by the parents while the congregation sings the
            acclamation<b>"You are God's great work of art fashioned with great love."</b> Children
            and parents thereupon proceed to the sacristy where the children are dressed in
            their baptismal garment. Upon reentering the main body of the church the families
            are given a baptismal candle to remind them that the light of faith is meant to
            be kept burning brightly for the rest of the child's life.
        </p>
        <p>
            <font size="+2">W</font>e hope that this thumbnail sketch of the preparation and
            celebration of baptism at Saint Malachy Parish is a help to you as you contemplate
            the baptism of your child. As a parish we share your joy and gratitude for the gift
            of new life in our midst. As you baptize your child,we earnestly pray that we may
            be a worthy community of support, example and prayer for you and your family in
            the years ahead.
        </p>
    </div>
</div>
