@{
    ViewBag.Title = "History Of Parish";
}
<div id="History" class="row col-md-12 margintoptwo">
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/Fr Ed Flaherty final.jpg" />
                </p>
                <span>
                    Msgr. Edward B Flaherty
                    Ordained May 21, 1937
                    Jun 30 1964 - May 20 1969
                    R.I.P. May 24, 1995
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/HolyOrders.jpg" />
                </p>
                <span>
                    Rev. Daniel R Foley
                    Ordained May 1, 1942
                    May 20 1969 - Aug 1 1973
                    R.I.P. Oct 15, 1993
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/Fr Joe Reilly final.jpg" />
                </p>
                <span>
                    Rev. Joseph P Reilly
                    Ordained Oct 28, 1943
                    Aug 1 1973 - Sept 9 1986
                    R.I.P. Jun 4, 1992
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/Fr James Rafferty Final.jpg" />
                </p>
                <span>
                    Rev. James F Rafferty
                    Ordained Feb 2, 1963
                    Sep 9 1986 - Apr 26 1994
                    Senior Priest retired
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/Fr Leonard O'Malley final.jpg" />
                </p>
                <span>
                    Rev. Leonard F O'Malley
                    Ordained May 18, 1974
                    Apr 26, 1994 - Jul 1, 2008
                    Pastor, St Peter Cambridge
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/History/Fr John Capuci final.jpg" />
                </p>
                <span>
                    Rev. John M Capuci
                    Ordained Jun 16, 1990
                    Dec 12 2008 - Jun 1, 2018
                    Pastor, St Charles Woburn
                </span>
            </div>
        </div>        
</div>
<div class="row col-md-12 margintoptwo">
    <div class="col-md-3">
        <div class="pictureContainer">
            <p class="pictureMargin">
                <img class="staffImg" src="~/Content/Images/History/FJS.jpg" />
            </p>
            <span>
                Rev. Frank J. Silva
                Jun 2, 2018 - Jun 1, 2019
            </span>
        </div>
    </div>
</div>
<div id="HistoryDetails" class="container row col-md-12">
    <h3>HISTORY OF SAINT MALACHY PARISH</h3>
<hr />
    <p class="text-justify">
        Large numbers of Catholics migrated to America in the 19th century, but until the 20th century few of them arrived in Burlington. At first they built summer houses here but during the depression years of the 1930s many summer people took up permanent residence. By 1934 Burlington's Catholic population numbered around 250. At that time the town had no Catholic church of its own and was part of Saint Charles Parish in the adjacent town of Woburn, a difficult round trip for many especially in bad weather. In 1937 William Cardinal O'Connell, Archbishop of Boston, consecrated Saint Mary Parish in the Pinehurst section of Billerica and officially placed Burlington within its boundaries. The pastor of Saint Mary's realized that going to church in Billerica meant increased travel for most Burlington Catholics, and that because of this some were continuing to go to church in Woburn. He convened a meeting to discuss the problem and at the meeting a committee was appointed to build a mission church in Burlington.
    </p>
    <div class="media">
        <div class="historyimage">
            <img class="media-object" src="~/Content/Images/History/barn.jpg" />
        </div>
        <div class="media-body">
            <p class="text-justify">
                The "Saint Mary's Building Committee of Burlington" started off by renting a temporary place of worship: a big, drafty old barn on what is now Beacon Street. The first Catholic Mass in Burlington was celebrated in "The Barn" on October 31, 1937, the Feast Day of Christ the King. Approximately 100 attended that Mass. Although well cleaned and somewhat renovated, the structure was quite drafty and really too cold for use through the winter. In December 1938 a more tightly constructed barn on Peach Orchard Road, the "Sousa Barn," became Burlington's second place of Catholic worship.
            </p>
        </div>
    </div>
    <div class="media marginbottomtwo">
        <div class="historyimage">
            <img class="media-object" src="~/Content/Images/History/chapel.jpg" />
        </div>
        <div class="media-body">
            <p class="text-justify">
                Meanwhile, a building fund drive began; the Catholic Women's Guild helped with fund-raising projects; and the building committee purchased two acres of land at the corner of Winn and Center Streets. In August 1939 ground was broken there for a new chapel. Except for the roof which was lifted into place by a crane, the chapel was built entirely by hand, by volunteers (non-Catholics included) working evenings and holidays. Named the Saint Mary Mission, the chapel opened on Mothers Day, 1940. In November 1945, the mission was officially designated a separate parish, the Parish of Saint Margaret of Antioch, encompassing all of Burlington within its boundaries.
            </p>
        </div>
    </div>
    <p class="text-justify">
        In the 1950s Route 128, Boston's circumferential highway, was completed, and this brought a major industrial boom to Burlington's rural doorstep. As a result of the new job opportunities Burlington's population nearly quadrupled, growing from 3,250 in 1950 to 12,852 by 1960. Most of the newcomers were Catholics and Burlington's parish census count exploded, growing at approximately twice the rate of the general population during that decade. It rapidly outgrew the 250-seat capacity of the original chapel building. In 1954 the Archdiocese provided temporary relief by transferring the section of the parish south of Route 128 to Woburn's St. Barbara Parish, but the population kept growing. In 1955, with a census count of 2048, the Burlington parish commenced building a larger church, the present Saint Margaret Church on Winn Street. During its dedication in February 1958 Archbishop Richard Cushing told its 4,000 parishioners "You are now living in the most rapidly growing parish in the Archdiocese."
    </p>
    <p class="text-justify">
        The archbishop foresaw the need for even more church seating capacity in the parish and decided that in order to make this possible the parish must split in two - a difficult decision because St. Margaret's was counting on all the parishioners it had to help pay off the debt for its new church. The archbishop directed the pastor to start scouting for some land on which to build a second Catholic church in Burlington. The search focused on the western part of town and found the land on which Saint Malachy Church stands today.
    </p>
    <div class="media">
        <div class="historyimage">
            <img class="media-object" src="~/Content/Images/History/smala.jpg" />
        </div>
        <div class="media-body">
            <p class="text-justify">
                The land acquired was a six-acre parcel in Burlington's Havenville section, so called because several Haven families once owned property in the area. The architectural firm of Tulley and Sons was hired. They designed the church to seat 700-800 people. As construction progressed its modern design prompted people to express a spectrum of opinions, some critical and others seeing symbols of infinity in its mathematical curves. All of its parishioners were to be pleased with its air conditioning in the summer. Parish boundary lines were drawn up, dividing Saint Margaret Parish into two roughly equal parts. The new Saint Malachy Parish was to be the third parish in the Boston Archdiocese to bear this patron saint's name - from 1874 to 1900 there was a St. Malachy Church in Arlington and from 1866 to 1889 there was one in Hopkinton.
            </p>
        </div>
    </div>
    <div class="media">
        <div class="historyimage">
            <img class="media-object" src="~/Content/Images/History/1stpr.jpg" />
        </div>
        <div class="media-body">
            <p class="text-justify">
                Burlington's parish was officially split at 12:01 A.M., June 30, 1964. Half of Saint Margaret's 12,000 parishioners awoke that morning as members of the new Saint Malachy Parish. The Reverend Edward B. Flaherty was assigned as their first pastor. The church blessing ceremony was conducted on June 30, and a full schedule of five Sunday Masses commenced on July 5. Richard Cardinal Cushing performed the formal dedication on October 31, the anniversary of the first Catholic Mass in Burlington. Father Flaherty, a veteran of World War II who served as a chaplain at Guadalcanal, soon had his new parish well organized. By the end of 1964 a full set of parish groups (i.e., ministries) was established and functioning. Since that time, laity, religious and clergy have endeavored to pray and live the Gospel message of Jesus Christ as a Catholic Christian community. The history of parish ministries represents a rich, vital tradition of sharing Christ's love with others. Liturgy, education and service have always been at the very heart of the parish (For current Ministries, see Opportunities for Ministry page.)
            </p>
        </div>
    </div>
    <div class="media marginbottomtwo">
        <div class="historyimage">
            <img class="media-object" src="~/Content/Images/History/party.jpg" />
        </div>
        <div class="media-body">
            <p class="text-justify">
                Known for friendliness and hospitality, the parish looks to the second millennium with great confidence and zeal. Although parish history, in terms of time scale, is "small," the dedication and enthusiasm of parishioners was, and continues to be, "large."
            </p>
        </div>
    </div>
    <h3 class="text-center">
        <b>"May God, who has begun this good work in us, bring it to fulfillment."</b>
    </h3>
</div>