@{
    ViewBag.Title = "Home Page";
}
@{ Html.RenderPartial("_CarouselMenu");}
<div class="row">
    <div class="col-md-4 paddingRight">
        <a href="/new/TopHeader/MassTimes">
            <div class="imageButton">
                <img src="~/Content/Images/IndexButtons/MassTime.jpg" />
            </div>
        </a>
    </div>
    <div class="col-md-4 paddingLeft">
        <a href="/new/Baptism">
            <div class="imageButton">
                <img src="~/Content/Images/IndexButtons/Baptism.jpg" />
            </div>
        </a>
    </div>
    <div class="col-md-4 paddingLeft">
        <a href="/new/Funeral">
            <div class="imageButton">
                <img src="~/Content/Images/IndexButtons/Funeral.jpg" />
            </div>
        </a>
</div>
</div>
<div class="dividerhorizontal margintopthree"></div>
<div class="col-md-12 margintopthree">
    <div class="row media">
        <div class="mercyimage">
            <img class="media-object" src="~/Content/Images/JubileeYearofMercy.jpg" />
        </div>
        <div class="media-body">
            <h2 class="media-heading text-center">THE JUBILEE PRAYER OF MERCY</h2><i class="italicspope"> by Pope Francis</i>
            <hr />
            <p class="text-justify">
                <p class="text-justify"><b>L</b>ord Jesus Christ,
                you have taught us to be merciful like the heavenly Father,
                and have told us that whoever sees you sees Him.
                Show us your face and we will be saved.
                Your loving gaze freed Zacchaeus and Matthew from being enslaved by money;
                the adulteress and Magdalene from seeking happiness only in created things;
                made Peter weep after his betrayal,
                and assured Paradise to the repentant thief.
                Let us hear, as if addressed to each one of us, the words that you spoke to the Samaritan woman:
                “If you knew the gift of God!”</p>

                <p class="text-justify">You are the visible face of the invisible Father,
                of the God who manifests his power above all by forgiveness and mercy:
                let the Church be your visible face in the world, its Lord risen and glorified.
                You willed that your ministers would also be clothed in weakness
                in order that they may feel compassion for those in ignorance and error:
                let everyone who approaches them feel sought after, loved, and forgiven by God.</p>

                <p class="text-justify">Send your Spirit and consecrate every one of us with its anointing,
                so that the Jubilee of Mercy may be a year of grace from the Lord,
                and your Church, with renewed enthusiasm, may bring good news to the poor,
                proclaim liberty to captives and the oppressed,
                and restore sight to the blind.</p>

                <p class="text-justify">We ask this of you, Lord Jesus, through the intercession of Mary, Mother of
                Mercy; you who live and reign with the Father and the Holy Spirit for ever and ever.<br />
                Amen.</p>
            
        </div>
    </div>
</div>
<div class="dividerhorizontal margintopthree"></div>


