@{
    ViewBag.Title = "Who is St.Malachy";
}

<div id="whoismaincontainer"  class="container row col-md-12">
    <div id="whoiscontainer" class="margintopone col-md-12">
        <div class="row col-md-5">
            <h3><b>WHO IS SAINT MALACHY?</b></h3>
            <hr />
            <p>
                He is the patron saint of our parish,
                and
                during his life on earth he was:
            </p>
            <div id="malachydetails">
                <ul>
                    <li>
                        12th-century Ireland's leading reformer of Christianity
                    </li>
                    <li>
                        a humble man who shunned personal possessions
                    </li>
                    <li>
                        the first native of Ireland to be canonized a saint
                    </li>
                    <li>
                        an archbishop and a papal legate
                    </li>
                    <li>
                        a worker of miracles
                    </li>
                    <li>
                        a prophet
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="col-md-7">
            <img src="~/Content/Images/StMalachy.jpg" />
        </div>
    </div>
    <hr class="margintoptwo"/>
    <div class="col-md-12">
        <p class="text-justify marginbottomtwo">
            In the book "Life of Saint Malachy," his biographer Saint Bernard of Clairvaux says Malachy was distinguished by his meekness, humility, obedience, modesty and true diligence in his studies. Saint Charles Borromeo praised him for attending to the needy, bringing the holy sacraments to all alike, and renewing the fervor of the people in receiving them. Clearly, Malachy is a shining example for all times.
        </p>
        <h3>IRELAND OF THAT TIME</h3>
        <hr />
        <p class="text-justify">
            Physically isolated from the continent by the high seas, Ireland was the only European country not overrun by barbarians during the Fall of Rome and the Dark Ages. During those centuries Ireland preserved the literature of Christian civilization; students flocked to her abbeys and monasteries for their education; and for several hundred years she was indeed the island of saints and scholars.
        </p>
        <p class="text-justify">
            Around the start of the 9th century, however, the Viking raids on Ireland began. The country was subsequently invaded and occupied; many monasteries were plundered; monks were put to the sword; churches demolished; and libraries burned. These disruptions along with secular impositions by the invader produced a decline in observing the religious and moral standards established by Saint Patrick and other early missionaries. Apathy towards the Christian virtues was increasing and by the 11th century some parts of Ireland had even returned to paganism. This was the world into which Malachy was born.
        </p>
        <h3>YOUNG MALACHY</h3>
        <hr />
        <p class="text-justify">
            Saint Malachy was born in Armagh in 1094 A.D. He was baptized Maolmhaodhog ua Morgair (Malachy O'More). His father, a teacher, died when Malachy was seven. His mother, a pious woman, lived just long enough to bring up her son in the love and fear of God. After her death, desiring to learn the practices of humility and living for God, he submitted himself to the religious discipline of Eimar (Imar O'Hagan), a holy recluse residing in a cell near Armagh cathedral. Saint Bernard says of that experience: "His obedience as a disciple, his love of silence, his fervor in mortification and prayer, were the means and marks of his spiritual progress."
        </p>
        <p class="text-justify">
            Upon completing his training he persuaded Eimar to accept other novices and a hermitage community developed. The Archbishop of Armagh, Ceolloch (Saint Celsus), ordained him a priest at age 25 although the prescribed age was 30. Fearing that he was not sufficiently prepared to carry out the mission which the archbishop was planning for him, Father Malachy went to Lismore where he spent nearly two years studying sacred liturgy and theology under Saint Malchus.
        </p>
        <p class="text-justify">
            The archbishop sent Malachy out to preach the word of God to the people and to correct many evil practices which had developed over the years. He achieved notable success. To reform the clergy he instituted regulations concerning celibacy and other ecclesiastical discipline, and re-instituted the recitation of the canonical hours. Most importantly, he gave back the sacraments to the common people, sending good priests among them to instruct the ignorant. He returned to Armagh in 1123.
        </p>
        <h3>ABBOT AND BISHOP</h3>
        <hr />
        <p class="text-justify">
            That year his uncle, lay-abbot at the Abbey of Bangor, resigned the abbey to Malachy in hopes that he might return it to its former status and observance. With ten members of Eimar's community of hermits he rebuilt the abbey and ruled it for a year, during which time several miracles were attributed to him. He also established a seminary for priests there. Malachy was zealous in performing his own monastic duties and set a good example to his priests. But in an act of charity that caused many objections he gave away the abbey's lands and most of its revenues.
        </p>
        <p class="text-justify">
            Soon after leaving the abbey, Malachy was chosen at age 30 to be Bishop of Connor. He set about converting its nominal Christians to a true devotion, searching them out on foot in their homes and fields to bring them to church. Drawing on his connection with Bangor he was able to staff the churches of the diocese with well-instructed priests who revived the fervor of the people. He renewed all things in Christ. In all his actions he breathed a spirit of patience and meekness.
        </p>
        <p class="text-justify">
            With the Church starting to gain strength, the local secular princes made trouble. The city of Connor was sacked and Malachy had to flee. He led the Bangor monks to County Kerry, where they were welcomed by King Cormac. They settled in the vicinity of Cork, which is how Malachy came to be venerated there.
        </p>
        <h3>RELUCTANT ARCHBISHOP</h3>
        <hr />
        <p class="text-justify">
            As in England at that time, secular rulers often usurped authority from the Church. In this way the succession of archbishops in Armagh had been made hereditary over the years, and Archbishop Celsus now wished to break the chain by leaving his see to Malachy. In 1129 Celsus died and a few days later Malachy received the archbishop's staff along with a letter from the dying man naming him as the next archbishop of Armagh. When Celsus' relatives heard of this they acted quickly, installed the late archbishop's cousin Murtagh. Malachy refused to try to occupy the the cathedral for three years, fearing further bloodshed by Celsus' kin.
        </p>
        <p class="text-justify">
            During this time, as Saint Bernard writes, Malachy established Church discipline and replaced the Celtic Liturgy (the "Stowe" Missal) with the Roman Liturgy.
        </p>
        <p class="text-justify">
            Finally, in 1132, under threat of excommunication if he refused to formally take office, Malachy submitted, saying: "You drag me to death. I obey in the hopes of martyrdom, but on this condition: that if the business succeeds and God frees His heritage from those who are destroying it--all being then completed, and the Church at peace, I may be allowed to go back to my former bride and friend, poverty, and to put another in my place!" In this way Malachy declared that he would stay only long enough to restore order, and he refused to enter the city or the cathedral, ruling from outside.
        </p>
        <p class="text-justify">
            In 1134 Murtagh died, naming another member of the laity, Nigellus (Niall, who was Celsus' brother) as his successor. To give weight to his claim Niall seized two precious relics from the cathedral, the golden Crozier of Saint Patrick, called the Bachal Isu (Staff of Jesus), and the Book of the Gospels, which had been handed down from the time of Saint Patrick. The common people believed that the true archbishop was the one who had these relics in his possession. Also in support of Niall, the secular rulers refused to recognize the legitimacy of Malachy's claim, instead persecuting him and putting obstacles in his way at every turn. Both sides were supported by militia, armed conflict broke out, and as a result of this struggle Malachy finally took possession of the cathedral.
        </p>
        <p class="text-justify">
            Malachy's rivals invited him to a meeting, and though aware of their evil designs, he went with a few companions. The results were surprising. His mildness and courage disarmed his enemies and they rose up to do him honor. Peace was concluded between them. Niall was deposed, the relics restored (although Malachy had to purchase the Crozier from Niall), and Malachy finally took unchallenged possession of the see.
        </p>
        <p class="text-justify">
            In 1138, having broken the tradition of hereditary succession, rescued Armagh from oppression, restored ecclesiastical discipline, re-established Christian morals, and seeing all things tranquil, Malachy resigned his post as originally agreed. He appointed Gelasius of Derry, a worthy prelate, to succeed him as archbishop and returned to Connor, dividing that diocese into the sees of Down and Connor and retaining the former. Living in peace as Bishop of Down, he founded a priory at Downpatrick for the community of Ibracense monks, with whom he resided.
        </p>
        <h3>TO ROME AND CLAIRVAUX</h3>
        <hr />
        <p class="text-justify">
            Now that more tranquil times blessed the land, Malachy set out for Rome to give an account of the affairs of his diocese to the pope, Innocent II. This was a difficult trip in those days. He traveled via Scotland, England and France, stopping at the Cistercian abbey of Clairvaux to meet Saint Bernard. In Rome he petitioned the pope for official pallia (bishop's cloaks) for the metropolitan See of Armagh and the new diocese of Cashel. While in Rome the pope officially approved all that Malachy had accomplished and appointed him legate (the official representative of the pope) for Ireland.
        </p>
        <p class="text-justify">
            On his return journey he left some of his companions in Clairvaux to learn the way of life and the rule of the Cistercian monks. (They returned to Ireland in 1142 with five of the monks to establish the Cistercian Order at Mellifont, thus founding the great abbey located there.)
        </p>
        <p class="text-justify">
            Malachy returned home through Scotland, where he miraculously restored the health of Prince Henry, grandson of Saint Margaret. Malachy told the lad, "Be of good courage; you will not die this time," and sprinkled him with holy water. The next day the dangerously-ill boy recovered.
        </p>
        <p class="text-justify">
            Arriving in Ireland he was welcomed by the people and priests. As the newly-appointed legate, he convened synods and enforced further regulations for abolishing abuses. Malachy continued to work many miracles for the sick and afflicted.
        </p>
        <h3>THE FINAL JOURNEY</h3>
        <hr />
        <p class="text-justify">
            Pope Innocent II died before the pallia were sent, and two other popes were elected and died in rapid succession (Celestine II, 1143-44, and Lucius II, 1144-45). Malachy convened a synod of bishops and received their commission to apply once again for the pallia, and he started a journey to visit the new pope, Eugenius III. Approaching the Alps in October, 1148, he fell ill with a fever. He was given hospice by the monks, who with Saint Bernard, treated him as a dear friend. As his fever grew worse, he told them that he would not recover and asked to receive the sacraments. He died in Saint Bernard's arms on November 2 and his body was buried at Clairvaux.
        </p>
        <p class="text-justify">
            Many miracles were attributed to Malachy during his life on earth. In Ivrea, Italy, he cured his host's child. He exorcised two women in Coleraine, and one in Lismore. In Cork he raised from a sick bed one whom he named bishop of the city, and a notorious scold was cured when she made her first confession to Malachy. In Ulster a sick man was immediately cured by lying on the saint's bed. A sick baby was healed instantly in Leinster. In Saul, County Down, a woman whose madness drove her to tear her limbs with her teeth was cured when he laid hands on her. At Antrim a dying man recovered his speech on receiving the Holy Viaticum. A paralyzed boy was cured in Cashel and another near Munster. On an island where the fishermen were suffering for lack of fish, he knelt by the shore and prayed, and the fish returned. In addition to these, many other miracles occurred at Malachy's tomb.
        </p>
        <p class="text-justify">
            Saint Malachy was canonized in 1190 by Pope Clement III. Although Malachy died on November 2, the Feast of Saint Malachy is observed on November 3 so as not to conflict with All Souls Day. His feast is kept by the Cistercians, the Canons regular of the Lateran, and throughout Ireland.
        </p>
        <h3>PROPHESIES</h3>
        <hr />
        <p class="text-justify">
            The Breviary in its office for the Feast of Saint Malachy mentions that he had the gift of prophesy. Saint Bernard tells of Malachy predicting the day and hour of his own death. But the best-known prediction attributed to him is the sequence of future popes, which receives some publicity whenever a new pope is about to be elected.
        </p>
        <p class="text-justify">
            While in Rome in 1139, Saint Malachy is said to have gone into a trance and received a strange vision in which he foresaw all the popes from the death of Innocent II until the end of time. Afterwards he jotted down a few words about each pope and presented the manuscript to Innocent II, who allegedly stored it in the Vatican Archives where it remained forgotten until discovered in 1590. It was then published and its authenticity has been debated ever since. The manuscript contains 112 prophesies, which scholars have correlated with each of the 110 popes and anti popes since Innocent II (2 prophesies remain to be fulfilled). Whether the prophesies are truly from Saint Malachy, or whether they are a hoax, they do make interesting reading. Here are the prophesies for recent popes.
        </p>
        <p class="text-justify">
            The words of the 108th prophesy are "Flos Florum" (Flower of Flowers). The 108th pope after Innocent II was Paul VI (1963-78). His coat of arms included three fleurs-de-lis (iris blossoms).
        </p>
        <p class="text-justify">
            The 109th is "De Medietate Lunae" (Of the Half Moon). The corresponding pope was John Paul I (1978-78), who was born in the diocese of Belluno (beautiful moon) and was baptized Albino Luciani (white light). He became pope on August 26, 1978, when the moon appeared exactly half full. It was in its waning phase. He died the following month, soon after an eclipse of the moon.
        </p>
        <p class="text-justify">
            The 110th is "De Labore Solis" (Of the Solar Eclipse, or, From the Toil of the Sun). The corresponding pope is John Paul II (1978-present). John Paul II was born on May 8, 1920 during an eclipse of the sun. Like the sun he came out of the East (Poland). Like the sun he has visited countries all around the globe while doing his work (he is the most-traveled pope in history).
        </p>
        <p class="text-justify">
            Today the final two prophesies remain unfulfilled.
        </p>
        <p class="text-justify">
            The 111th prophesy is "Gloria Olivae" (The Glory of the Olive). The Order of Saint Benedict has claimed that this pope will come from their ranks. Saint Benedict himself prophesied that before the end of the world his Order, known also as the Olivetans, will triumphantly lead the Catholic Church in its fight against evil.
        </p>
        <p class="text-justify">
            The 112th prophesy says: "In the final persecution of the Holy Roman Church there will reign Petrus Romanus (Peter the Roman), who will feed his flock amid many tribulations; after which the seven-hilled city will be destroyed and the dreadful Judge will judge the people. The End."
        </p>
        <h3 class="text-center">
            <b>Pray for us, Saint Malachy!</b>
        </h3>
    </div>
</div>
