<div class="modal fade" id="baptismdateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Baptism Dates 2017</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <h3>Baptism:</h3>
                    <p><a href="#" id="BaptismDate1">January 7, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate2">February 5, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate3">March 11, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate4">April 23, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate5">June 11, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate6">July 8, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate7">August 13, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate8">September 9, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate9">October 8, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate10">November 11, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate11">December 10, 10:30 Mass</a></p>
                </div>
                <div>
                    <h3>Dinner Preparation:<span class="text-danger">*</span></h3>
                    <p data-target="BaptismDate1">December 29, 6pm</p>
                    <p data-target="BaptismDate2">January 26, 6pm</p>
                    <p data-target="BaptismDate3">March 2, 6pm</p>
                    <p data-target="BaptismDate4">April 6, 6pm</p>
                    <p data-target="BaptismDate5">June 1, 6pm</p>
                    <p data-target="BaptismDate6">June 29, 6pm</p>
                    <p data-target="BaptismDate7">August 3, 6pm</p>
                    <p data-target="BaptismDate8">August 31, 6pm</p>
                    <p data-target="BaptismDate9">September 28, 6pm</p>
                    <p data-target="BaptismDate10">November 2, 6pm</p>
                    <p data-target="BaptismDate11">November 30, 6pm</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
