<div class="baptismUsefulLinks">
    <ul class="list-group">
        <li class="list-group-item text-center"><h4>Useful Links</h4></li>
        <li class="list-group-item">@Html.ActionLink("What is Baptism", "Index", "Baptism")</li>
        <li class="list-group-item">@Html.ActionLink("Baptism at St. Malachy", "BaptismAtMalachy", "Baptism")</li>
        @*<li class="list-group-item">Baptism For Infants &amp; Children Under 7</li>
        <li class="list-group-item">@Html.ActionLink("Dates For Baptism & Baptism Inaugral Dinner", "BaptismDates","Baptism")</li>
        <li class="list-group-item">Baptism For Adults &amp; Children Over 7</li>
        <li class="list-group-item">@Html.ActionLink("Online Form", "OnlineForm", "Baptism")</li>*@
    </ul>
</div>
