<div class="modal fade" id="baptismdateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Baptism Dates 2018</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <h3>Dates for Baptism:</h3>
                    <p><a href="#" id="BaptismDate1">January 12, 4:30pm Mass</a></p>
                    <p><a href="#" id="BaptismDate2">February 11, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate3">March 10, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate4">April 8, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate5">May 26, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate6">June 10, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate7">July 7, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate8">August 12, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate9">September 8, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate10">October 14, 10:30 Mass</a></p>
                    <p><a href="#" id="BaptismDate11">November 10, 4pm Mass</a></p>
                    <p><a href="#" id="BaptismDate12">December 16, 10:30 Mass</a></p>
                </div>
                <div>
                    <h3>Baptism Preparation:<span class="text-danger">*</span></h3>
                    <p data-target="BaptismDate1">January 4, 6pm</p>
                    <p data-target="BaptismDate2">February 1, 6pm</p>
                    <p data-target="BaptismDate3">March 1, 6pm</p>
                    <p data-target="BaptismDate4">March 22, 6pm</p>
                    <p data-target="BaptismDate5">May 3, 6pm</p>
                    <p data-target="BaptismDate6">May 31, 6pm</p>
                    <p data-target="BaptismDate7">June 28, 6pm</p>
                    <p data-target="BaptismDate8">August 2, 6pm</p>
                    <p data-target="BaptismDate9">August 30, 6pm</p>
                    <p data-target="BaptismDate10">October 4, 6pm</p>
                    <p data-target="BaptismDate11">November 1, 6pm</p>
                    <p data-target="BaptismDate12">December 6, 6pm</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
