<div class="funeralUsefulLinks">
    <ul class="list-group">
        <li class="list-group-item text-center"><h4>Useful Links</h4></li>
        <li class="list-group-item">Recent and Upcoming Funerals</li>
        <li class="list-group-item">@Html.ActionLink("Readings", "FuneralReadings", "Funeral")</li>
        <li class="list-group-item">Music/Hymns</li>
        <li class="list-group-item">Funeral Procedures and Protocol</li>
        <li class="list-group-item">@Html.ActionLink("Funeral home Info Sheet", "FuneralHomeInfo", "Funeral")</li>
        <li class="list-group-item">@Html.ActionLink("Funeral Request Form", "OnlineForm", "Funeral")</li>
    </ul>
</div>

