<div class="religiousedUsefulLinks">
    <ul class="list-group">
        <li class="list-group-item text-center"><h4>Useful Links</h4></li>
        <li class="list-group-item">Sunday Program</li>
        <li class="list-group-item">First Communion</li>
        <li class="list-group-item">@Html.ActionLink("Summer Program", "SummerProg", "ReligiousEd")</li>
        <li class="list-group-item">@Html.ActionLink("Confirmation", "Confirmation", "ReligiousEd")</li>
        <li class="list-group-item">@Html.ActionLink("RCIA", "RCIA", "ReligiousEd")</li>
        <li class="list-group-item">Religious Ed Calendar</li>
        <li class="list-group-item">@Html.ActionLink("Registration Form", "Registration", "ReligiousEd")</li>
    </ul>
</div>


