
@{
    ViewBag.Title = "Baptism";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row text-justify">
    <div class="col-md-9 paddingleftremove baptismBodyMargin">
        @RenderBody()
    </div>
    <div class="col-md-3">
       @{Html.RenderPartial("_BaptismLeftMenu");}
    </div>
    <div class="row col-md-9 text-left">
        <h3>Baptism Video</h3>
        <hr />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/fV8uu9-sYSk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

