@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}

<div class="col-md-12 paddingRemoveLeft">
    <h2>CONFIRMATION SCHEDULE 2018-2019</h2>
    <hr />
    <div class="col-md-5">
        <table class="table table-bordered">
            <tbody>
                <tr class="confirmationHeader">
                    <td colspan="2" class="text-center"> Confirmation I</td>
                </tr>
                <tr>
                    <td>
                        10/3/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        10/17/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        10/31/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        11/14/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        11/18/18
                    </td>
                    <td>
                        Mass on Sunday with Coffee and Donuts
                    </td>
                </tr>
                <tr>
                    <td>
                        12/5/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        12/19/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        1/9/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        1/30/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        2/13/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        3/6/18
                    </td>
                    <td>
                        Ash Wednesday
                    </td>
                </tr>
                <tr>
                    <td>
                        3/13/19
                    </td>
                    <td>
                        Home Project
                    </td>
                </tr>
                <tr>
                    <td>
                        4/3/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        4/7/19
                    </td>
                    <td>
                        Mass on Sunday with Coffee and Donuts
                    </td>
                </tr>
                <tr>
                    <td>
                        4/24/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td colspan="2">2 approved service projects</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered">
            <tbody>
                <tr class="confirmationHeader">
                    <td colspan="2" class="text-center"> Confirmation II</td>
                </tr>
                <tr>
                    <td>
                        10/10/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        10/21/18
                    </td>
                    <td>
                        Mass on Sunday with Coffee and Donuts
                    </td>
                </tr>
                <tr>
                    <td>
                        10/24/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        11/7/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        11/28/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        12/12/18
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        1/2/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        1/23/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        2/6/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        2/27/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        3/1-2/19
                    </td>
                    <td>
                        Mandatory Retreat
                    </td>
                </tr>
                <tr>
                    <td>
                        3/3/18
                    </td>
                    <td>
                        Retreat Completion &#64; 10:30 Mass
                    </td>
                </tr>
                <tr>
                    <td>
                        3/6/18
                    </td>
                    <td>
                        Ash Wednesday
                    </td>
                </tr>
                <tr>
                    <td>
                        5/8/19
                    </td>
                    <td>
                        Rehearsal
                    </td>
                </tr>
                <tr>
                    <td>
                        3/27/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        4/10/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        5/1/19
                    </td>
                    <td>
                        6:30 - 8:30 Session
                    </td>
                </tr>
                <tr>
                    <td>
                        5/9/19
                    </td>
                    <td>
                        Confirmation at 7:00 pm
                    </td>
                </tr>
                <tr>
                    <td colspan="2">2 approved service projects</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>