

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}

<div class="row col-md-12">
    <h2 class="reledtitle">Religious Education At St. Malachy Parish</h2>
    <hr>
    <div class="col-md-4 grade16">
        <h1><b>GRADES 1-6</b></h1>
        <h2>Sunday Mornings</h2>
        <h2>
            9:00am -10:15am
        </h2>
        <a href="/New/pdf/RelEdOneToSix"><h4><b>Click here to download Schedule</b></h4></a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 grade78">
        <h1><b>GRADES 7-8</b></h1>
        <h2>Monday Evenings</h2>
        <h2>
            6:30pm - 8:00pm in the Parish Hall
        </h2>
        <a href="/New/pdf/RelEdSevenToEight"><h4><b>Click here to download Schedule</b></h4></a>
    </div>


    <div class="col-md-12"></div>
    <div class="col-md-12 reledcontact">
        <h3><b>For more information,</b></h3>
        <h4>
            Camille Mainardi: ex. 18
        </h4>
        <h4>religioused@saintmalachy.org</h4>

    </div>
    
    <div class="col-md-12 programcost">
        <h3><b>Cost of the program: $100/child, $250 max/family</b></h3>
        <h3><b>Registration deadline: September 15th.</b></h3>
        <h3><b>Late payments will be subject to a $50 late fee.</b></h3>
    </div>
</div>


