

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}

<div class="row col-md-12">
    <h2 class="reledtitle">Religious Education At St. Malachy Parish</h2>
    <hr />
    <div class="col-md-4 grade16">
        <h1><b>GRADES 1-6</b></h1>
        <h2>Sunday Mornings</h2>
        <h2>
            9:00am -10:15am
        </h2>
        <h4><b>With 10:30 Mass Following</b></h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 grade78">
        <h1><b>GRADES 7-8</b></h1>
        <h2>Monday Nights</h2>
        <h2>
            6:30pm - 8:00pm
        </h2>
        <h4><b>Program Will Only Run With Enough Adult Help</b></h4>
    </div>
    
    <div class="col-md-4 grade910">
        <h1><b>GRADES 9-10</b></h1>
        <h2>Wednesday Evenings</h2>
        <h2>6:30pm - 8:30pm</h2>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12 reledcontact">
        <h3><b>Contact Camille Mainardi for more information:</b></h3>
        <h4>religioused@saintmalachy.org</h4>

    </div>
    <div class="col-md-12 programcost">
        <h3><b>Cost of the program: One Child - $100, Two Children - $200, Three or More - $250</b></h3>
        <h3><b>Grade 2 Sacremental fee: $40</b></h3>
        <h3><b>Grade 10 Retreat fee: $125</b></h3>
        <h3><b>Late payments will be subject to a $50 late fee.</b></h3>
    </div>
</div>


