
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}

<div class="text-justify">
    <h3>Saint Malachy Parish - Liturgical GuideSeries</h3>
    <hr />
    <h4>
        <b>Rite of Christian Initiation of Adults</b>
    </h4>
    <div class="col-md-12 row media">
        <div class="rciaimage">
            <img class="media-object" width="200" src="~/Content/Images/StMalachyFront.jpg" />
        </div>
        <div class="media-body">
            <p>
                <b>G</b>od calls us, the Church, to be life-giving and generative. Our mission is to be midwives of new birth in two ways: first, by helping parents who come to us seeking baptism for their children and, secondly, by helping adults and older children to come to the waters of life. In 1969 our Church issued the Rite of Baptism for Children, the first ritual ever solely for infants. In 1972 our Church issued the pastoral document the Rite of Christian Initiation of Adults [more often known by the acronym RCIA] which restored ancient patterns of ritual, catechesis [instruction], community involvement and ministry. At its heart adult initiation can best be understood through a few overlapping images and metaphors:<br />
                Welcome, Journey, Conversation, Conversion and Ritual.
            </p>
        </div>
    </div>
    
    <h4 class="margintoptwo"><b>WELCOME</b></h4>
    <hr />
    <p>
        <b>W</b>elcome marks the entire process of adult initiation [viz. older children, too] from beginning to end. The welcome of the community experienced in its liturgy, in its faith sharing, in its community life, in its service to others draws the inquirer to explore the mystery of God as it is experienced in our Church. Welcoming, hospitable people are better poised to find seekers in their midst who desire to learn more about God, about Jesus, about the Church and its teachings than parishes that are aloof and cold. This joyful responsibility helps us create a climate where newcomers feel at home, where inquiry is met with respect, where the brokenness of human life is offered healing. Welcome is neither a program nor a task relegated to a few such as greeters at mass. Welcome must be the virtue of the whole parish - one nurtured by every parish member.
    </p>
    <h4 class="margintopthree"><b>JOURNEY</b></h4>
    <hr />
    <p>
        The <b>J</b>ourney begins with welcome. It moves towards the table of the Lord and a life of Christian service. There are several important stages along the way. The first is a period of gradual instruction in the Christian faith known as the catechumenate. In the early centuries of the Church catechumens [a Greek term which refers to hearing the echo of God's Word] were women, men and children who formally sought to learn what life in God and Christ was all about. The unbaptized adult is welcomed into the Church as a catechumen. This period of preparation [the catechumenate] may last anywhere from one to three years. Sometimes this is met with initial resistance from contemporary Americans who are used to quick and instant results. Like any meaningful human relationship the journey of the catechumen takes time. Just as the Lord gathered disciples around him and for three years instructed and trained them the catechumenate is a school of discipleship. Rooted in attendance at Sunday Eucharist catechumens weekly listen to the Word of God and, after the homily, go forth with a catechist to reflect on the word and its meaning in their lives. This forms adults in the knowledge of God and in the teachings of the Church. When it is mutually discerned by catechumens and the Church that they are ready to be initiated they are elected for the sacraments in a special ritual celebrated at the cathedral once a year on the first Sunday of Lent. Elected i.e. chosen by the Church the adults enter into an intense period of preparation [the liturgical season of Lent] for their initiation at the Easter Vigil through the sacraments of Baptism, Confirmation and the Eucharist. Subsequent to the initiation at the Easter Vigil the now neophytes [another Greek term which means that the baptized are newly planted ] continue their reflection on the sacred mysteries by prayer and reflection throughout the Easter season. This final part of the journey known as Mystagogia [Greek for reflection on the sacred mysteries] ends on Pentecost but it really continues for the rest of the adults life.
    </p>
    <h4 class="margintopthree"><b>CONVERSATION</b></h4>
    <hr />
    <p>
        <b>C</b>onversation as a metaphor refers to adult experiences throughout the journey of faith. The foundational is the inherent conversation the adult has with his/her own life experience: Who am I? Where am I going? What are my dreams and aspirations? Where are my areas of weakness? Where does God factor into my life? Jesus? The Church? This conversation is in the silence of our hearts. We step back to reflect on our lives. Conversation involves other people such as friends, spouses, relatives, teachers, etc. In the interaction of dialogue,we become aware of how God is working in our lives and where God is leading us. Such conversation is certainly at the heart of the catechumenal process where we share our life's story with catechists who help us understand our life in the light of God's Word. In fact, every Sunday we send forth the catechumen with his/her catechist from the assembly after the homily to reflect on the Word of God. This is the centerpiece of catechumenal instruction. Still another layer of conversation involves the larger body of believers, the Church. It is in and through meeting and talking with other believers that the aspiring Christian discerns the collective faith of the Church. When someone asks What should I do to learn about the faith? - the most basic response should be: Come to Church...meet the Church. Discerning the faith of the Church is not done primarily through a book or in isolation. It is fundamentally a conversation with the Church, the body of Christ. Finally, the most sublime conversation is between the adult and God in moments of prayer, meditation and reflection when they first listen and subsequently speak with God. Again, it is our task through catechists, ministers and spiritual directors to help the catechumen develop the habit of prayer which eventually will become a personal virtue.
    </p>
    <h4 class="margintopthree"><b>CONVERSION</b></h4>
    <hr />
    <p>
        <b>C</b>onversion comes from the Latin verb which means to turn or redirect. It refers to our longing for a genuine refocusing and redirection of our lives. Fundamentally conversion turns us to God as the primary focus in our lives, to Jesus as the manifestation of God, to the Spirit as the ongoing presence of the divine in the world and to the Church as the community of people who welcome, support and sustain the life of believers. Conversion helps us assume a new set of priorities that are more focused on God's reign than on mere success and human ambition. Praying, discerning God's will, serving the needs of others, bonding with other believers, committing to lifelong learning in the faith - these goals come to the fore when we experience conversion.
    </p>
    <h4 class="margintopthree"><b>RITUAL</b></h4>
    <hr />
    <p>
        <b>R</b>itual is the final image that can help us understand adult initiation. Ritual, generically, is a pattern of actions, words, symbolic activity and group interaction through which humans express and deepen beliefs, feelings, attitudes and affections. A kiss, for example, both expresses the love of two people and, at the same time, deepens the love that is already present. In rituals of faith, personal and communal faith are likewise both expressed and deepened. For example, when the Church celebrates Eucharist we surely express the unity and communion we have with the Lord and with one another. At the same time we are allowing that unity, that communion, to grow and deepen. Conversion means becoming a disciple of Jesus Christ. The very first ritual of initiation, the Rite of Becoming a Catechumen, conveys the overwhelming welcome of the Church as the inquirer becomes a formal catechumen by being marked with the sign of the cross. Disciples must be ones who pick up the cross of Christ and who model their life on that of the Master who served others even up to the point of giving up his life. The Rite of Election celebrated in the local cathedral once a year expresses the reality that the catechumen is part of a larger Church, not simply the parish, and that it is God's action which is drawing the catechumen to the Easter sacraments. The celebration of the initiation sacraments [Baptism, Confirmation and Eucharist] at the Great Vigil both expresses the relation of the adult to God and the Church while, at the same time, deepening what is already there. So replete is this ritual language that the Church's final stage of catechesis, called Mystagogia, is a concerted reflection on the sacramental experience of Easter. The RCIA beckons all of us to new ways of understanding Church, conversion, catechesis and ministry. What we have tried in these few brief paragraphs is to give a taste of what Christian initiation of adults entails.
    </p>
    <h4 class="margintopthree"><b>POSTSCRIPT</b></h4>
    <hr />
    <p>
        A <b>P</b>ostscript: From time to time adults who have been baptized in other Christian Churches or adults who were baptized as Catholics but never confirmed may come to the Church seeking to become members. Strictly speaking, the RCIA is not designed for them but many of the dynamics outlined above can and should be invoked. For adults and children who want to become Roman Catholic we will try to provide structures for such a faith journey as needed. Similarly, for Catholics who were baptized but never completed their initiation through receiving the sacraments of Confirmation and Eucharist, we will try to provide structures of liturgical catechesis, prayer and service which will help the adult prepare for the reception of these sacraments.
    </p>
</div>



