

@{
    ViewBag.Title = "Religious Education Online Form";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}
<div class="container row">
    <iframe style="margin-top:10px;" src="https://docs.google.com/forms/d/e/1FAIpQLSdPjTIKEs99IO9p1K2OHEL_a87BtvcA3__RYLp-365PpcyzAg/viewform?embedded=true" width="800" height="9228" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    
</div>
@Scripts.Render("~/bundles/religioused")





