


@{
    ViewBag.Title = "Summer Program";
    Layout = "~/Views/Shared/ReligiousEd_Layout.cshtml";
}

<div class="row col-md-12">
    <h2 class="reledtitle">Summer Program At St. Malachy Parish</h2>
    <hr />
    <div class="col-md-12 grade16">
        <h1><b>GRADES 3-6</b></h1>
        <h2>Session 1</h2>
        <h2>
            June 26-29: 9am -2pm
        </h2>
        <h2>Session 2</h2>
        <h2>
            July 10-July13: 9am-2pm
        </h2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-5 reledcontact">
        <h3><b>For more information,</b></h3>
        <h4>
            Camille Mainardi: ex. 18
        </h4>
        <h4>religioused@saintmalachy.org</h4>

    </div>

</div>


