
@{
    ViewBag.Title = "Funeral Readings";
    Layout = "~/Views/Shared/Funeral_Layout.cshtml";
}

<div class="container row">
    <div class="col-md-9 paddingleftremove">
        <h2>Readings</h2>
        <hr/>
        <div class="row panel-group" id="funeralreading" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h2 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#funeralreading" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>First Reading
                        </a>
                    </h2>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body text-justify">
                        <h3>
                            FIRST READING
                            
                        </h3>
                        <p>please choose one</p>
                        <h3>A-1 A reading from the second Book of Maccabees 12:43-46</h3>
                        <p>
                            Judas, the ruler of Israel,<br>
                            took up a collection among all his soldiers,<br>
                            amounting to two thousand silver drachmas,<br>
                            which he sent to Jerusalem to provide for an expiatory sacrifice.
                        </p>
                        <p>
                            In doing this he acted in a very excellent and noble way,<br>
                            inasmuch as he had the resurrection of the dead in view;<br>
                            for if he were not expecting the fallen to rise again,<br>
                            it would have been useless and foolish to pray for them in death.
                        </p>
                        <p>
                            But if he did this with a view to the splendid reward<br>
                            that awaits those who had gone to rest in godliness,<br>
                            it was a holy and pious thought.
                        </p>
                        <p>
                            Thus he made atonement for the dead<br>
                            that they might be freed from this sin.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>A-2 A reading from the Book of Wisdom 3:1-6, 9</h3>
                        <p>
                            The souls of the just are in the hand of God<br>
                            and no torment shall touch them.
                        </p>
                        <p>
                            They seemed, in the view of the foolish, to be dead;<br>
                            and their passing away was thought an affliction<br>
                            and their going forth from us, utter destruction.<br>
                            But they are in peace.
                        </p>
                        <p>
                            For if in the eyes of men, indeed they be punished,<br>
                            yet is their hope full of immortality;<br>
                            Chastised a little, they shall be greatly blessed,<br>
                            because God tried them,<br>
                            and found them worthy of himself.
                        </p>
                        <p>
                            As gold in the furnace, he proved them,<br>
                            and as sacrificial offerings he took them to himself.
                        </p>
                        <p>
                            Those who trust in him shall understand truth,<br>
                            and the faithful shall abide with him in love:
                        </p>
                        <p>
                            Because grace and mercy are with his holy ones,<br>
                            and his care is with his elect.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>A-3 A reading from the Book of Wisdom 4:7-15</h3>
                        <p>
                            The just, though they die early,<br>
                            shall be at rest.<br>
                            For the age that is honorable comes not<br>
                            with the passing of time,<br>
                            nor can it be measured in terms of years.<br>
                            Rather, understanding is the hoary crown,<br>
                            and an unsullied life, the attainment of old age.
                        </p>
                        <p>
                            Those who pleased God were loved;<br>
                            they who lived among sinners were transported–<br>
                            Snatched away, lest wickedness pervert their mind<br>
                            or deceit beguile their soul;
                        </p>
                        <p>
                            For the witchery of paltry things obscures what is right<br>
                            and the whirl of desire transforms the innocent mind.<br>
                            Having become perfect in a short while,<br>
                            they reached the fullness of a long career;<br>
                            for their souls were pleasing to the Lord,<br>
                            therefore he sped them out of the midst of wickedness.
                        </p>
                        <p>
                            But the people saw and did not understand,<br>
                            nor did they take this into account.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>A-4 A reading from the Book of the Prophet Isaiah 25:6a, 7-9</h3>
                        <p>
                            On this mountain the Lord of hosts<br>
                            will provide for all peoples.
                        </p>
                        <p>
                            On this mountain he will destroy<br>
                            the veil that veils all peoples,<br>
                            The web that is woven over all nations;<br>
                            he will destroy death forever.
                        </p>
                        <p>
                            The Lord God will wipe away<br>
                            the tears from all faces;<br>
                            The reproach of his people he will remove<br>
                            from the whole earth; for the Lord has spoken.
                        </p>
                        <p>
                            On that day it will be said:<br>
                            “Behold our God, to whom we looked to save us!<br>
                            This is the Lord for whom we looked;<br>
                            let us rejoice and be glad that he has saved us!”
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>A-5 A reading from the Book of Lamentations 3:17-26</h3>
                        <p>
                            My soul is deprived of peace,<br>
                            I have forgotten what happiness is;<br>
                            I tell myself my future is lost,<br>
                            all that I hoped for from the Lord.
                        </p>
                        <p>
                            The thought of my homeless poverty<br>
                            is wormwood and gall;<br>
                            Remembering it over and over<br>
                            leaves my soul downcast within me.<br>
                            But I will call this to mind,<br>
                            as my reason to have hope:
                        </p>
                        <p>
                            The favors of the Lord are not exhausted,<br>
                            his mercies are not spent;<br>
                            They are renewed each morning,<br>
                            so great is his faithfulness.<br>
                            My portion is the Lord, says my soul;<br>
                            therefore will I hope in him.
                        </p>
                        <p>
                            Good is the Lord to one who waits for him,<br>
                            to the soul that seeks him;<br>
                            It is good to hope in silence<br>
                            for the saving help of the Lord.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>A-6 A reading from the Book of Ecclesiastes 3:1-11</h3>
                        <p>
                            There is an appointed time for everything,<br>
                            and a time for every thing under the heavens.
                        </p>
                        <p>
                            A time to be born, and a time to die;<br>
                            a time to plant, and a time to uproot the plant.<br>
                            A time to kill, and a time to heal;<br>
                            a time to tear down, and a time to build.
                        </p>
                        <p>
                            A time to weep, and a time to laugh;<br>
                            a time to mourn, and a time to dance.
                        </p>
                        <p>
                            A time to scatter stones, and a time to gather them;<br>
                            a time to embrace, and a time to be far from embraces.
                        </p>
                        <p>
                            A time to seek, and a time to lose;<br>
                            a time to keep, and a time to cast away.
                        </p>
                        <p>
                            A time to rend, and a time to sew;<br>
                            a time to be silent, and a time to speak.
                        </p>
                        <p>
                            A time to love, and a time to hate;<br>
                            a time of war, and a time of peace.
                        </p>
                        <p>The word of the Lord.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h2 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#funeralreading" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>First Reading During Easter Season
                        </a>
                    </h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h3>First Reading – Easter Season</h3>
                        <h3>AA-1 A reading from the Acts of the Apostles 10:34-36, 42-43</h3>
                        <p>
                            Peter proceeded to speak, saying:<br>
                            “In truth, I see that God shows no partiality.<br>
                            Rather, in every nation whoever fears him and acts uprightly<br>
                            is acceptable to him.
                        </p>
                        <p>
                            You know the word that he sent to the children of Israel<br>
                            as he proclaimed peace through Jesus Christ, who is Lord of all.<br>
                            He commissioned us to preach to the people<br>
                            and testify that he is the one appointed by God<br>
                            as judge of the living and the dead.<br>
                            To him all the prophets bear witness,<br>
                            that everyone who believes in him<br>
                            will receive forgiveness of sins through his name.”
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>AA-2 A reading from the Book of Revelation 14:13</h3>
                        <p>
                            I, John, heard a voice from heaven say, “Write this:<br>
                            Blessed are the dead who die in the Lord from now on.”
                        </p>
                        <p>
                            “Yes,” said the Spirit,<br>
                            “let them find rest from their labors,<br>
                            for their works accompany them.”
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>AA-3 A reading from the Book of Revelation 21:1-5a, 6b-7</h3>
                        <p>
                            I, John, saw a new heaven and a new earth.<br>
                            The former heaven and the former earth had passed away,<br>
                            and the sea was no more.<br>
                            I also saw the holy city, a new Jerusalem,<br>
                            coming down out of heaven from God,<br>
                            prepared as a bride adorned for her husband.
                        </p>
                        <p>
                            I heard a loud voice from the throne saying,<br>
                            “Behold, God’s dwelling is with the human race.<br>
                            He will dwell with them and they will be his people<br>
                            and God himself will always be with them as their God.<br>
                            He will wipe every tear from their eyes,<br>
                            and there shall be no more death or mourning, wailing or pain,<br>
                            for the old order has passed away.”
                        </p>
                        <p>
                            The One who sat on the throne said,<br>
                            “Behold, I make all things new.”<br>
                            I am the Alpha and the Omega,<br>
                            the beginning and the end.<br>
                            To the thirsty I will give a gift<br>
                            from the spring of life-giving water.<br>
                            The victor will inherit these gifts,<br>
                            and I shall be his God,<br>
                            and he will be my son.”
                        </p>
                        <p>The word of the Lord.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#funeralreading" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>Second Reading
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h3>B-1 A reading from the Letter of Saint Paul to the Romans 5:5-11</h3>
                        <p>
                            Brothers and sisters:<br>
                            Hope does not disappoint,<br>
                            because the love of God has been poured out into our hearts<br>
                            through the Holy Spirit who has been given to us.<br>
                            For Christ, while we were still helpless,<br>
                            died at the appointed time for the ungodly.<br>
                            Indeed, only with difficulty does one die for a just person,<br>
                            though perhaps for a good person<br>
                            one might even find courage to die.
                        </p>
                        <p>
                            But God proves his love for us<br>
                            in that while we were still sinners Christ died for us.<br>
                            How much more then, since we are now justified by his Blood,<br>
                            will we be saved through him from the wrath.<br>
                            Indeed, if, while we were enemies,<br>
                            we were reconciled to God through the death of his Son,<br>
                            how much more, once reconciled,<br>
                            will we be saved by his life.<br>
                            Not only that,<br>
                            but we also boast of God through our Lord Jesus Christ,<br>
                            through whom we have now received reconciliation.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-2 A reading from the Letter of Saint Paul to the Romans 6:3-4, 8-9</h3>
                        <p>
                            Brothers and sisters:<br>
                            Are you unaware that we who were baptized into Christ Jesus<br>
                            were baptized into his death?<br>
                            We were indeed buried with him through baptism into death,<br>
                            so that, just as Christ was raised from the dead<br>
                            by the glory of the Father,<br>
                            we too might live in newness of life.
                        </p>
                        <p>
                            If, then, we have died with Christ,<br>
                            we believe that we shall also live with him.<br>
                            We know that Christ, raised from the dead, dies no more;<br>
                            death no longer has power over him.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-3 A reading from the Letter of Saint Paul to the Romans 8:14-23</h3>
                        <p>
                            Brothers and sisters:<br>
                            Those who are led by the Spirit of God are sons of God.<br>
                            For you did not receive a spirit of slavery to fall back into fear,<br>
                            but you received a spirit of adoption,<br>
                            through which we cry, Abba, “Father!”<br>
                            The Spirit itself bears witness with our spirit<br>
                            that we are children of God,<br>
                            and if children, then heirs,<br>
                            heirs of God and joint heirs with Christ,<br>
                            if only we suffer with him<br>
                            so that we may also be glorified with him.<br>
                            I consider that the sufferings of this present time are as nothing<br>
                            compared with the glory to be revealed for us.
                        </p>
                        <p>
                            For creation awaits with eager expectation<br>
                            the revelation of the children of God;<br>
                            for creation was made subject to futility,<br>
                            not of its own accord but because of the one who subjected it,<br>
                            in hope that creation itself<br>
                            would be set free from slavery to corruption<br>
                            and share in the glorious freedom of the children of God.
                        </p>
                        <p>
                            We know that all creation is groaning in labor pains even until now;<br>
                            and not only that, but we ourselves,<br>
                            who have the firstfruits of the Spirit,<br>
                            we also groan within ourselves<br>
                            as we wait for adoption, the redemption of our bodies
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-4 A reading from the Letter of St. Paul to the Romans 8:31b-35, 37-39</h3>
                        <p>
                            Brothers and sisters:<br>
                            If God is for us, who can be against us?<br>
                            He did not spare his own Son<br>
                            but handed him over for us all,<br>
                            will he not also give us everything else along with him?
                        </p>
                        <p>
                            Who will bring a charge against God’s chosen ones?<br>
                            It is God who acquits us.<br>
                            Who will condemn?<br>
                            It is Christ Jesus who died, rather, was raised,<br>
                            who also is at the right hand of God,<br>
                            who indeed intercedes for us.<br>
                            What will separate us from the love of Christ?<br>
                            Will anguish, or distress or persecution, or famine,<br>
                            or nakedness, or peril, or the sword?<br>
                            No, in all these things, we conquer overwhelmingly<br>
                            through him who loved us.
                        </p>
                        <p>
                            For I am convinced that neither death, nor life,<br>
                            nor angels, nor principalities,<br>
                            nor present things, nor future things,<br>
                            nor powers, nor height, nor depth,<br>
                            nor any other creature will be able to separate us<br>
                            from the love of God in Christ Jesus our Lord.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-5 A reading from the first Letter of St. Paul to the Corinthians 15:51-57</h3>
                        <p>Brothers and sisters:</p>
                        <p>
                            Behold, I tell you a mystery.<br>
                            We shall not all fall asleep, but we will all be changed,<br>
                            in an instant, in the blink of an eye, at the last trumpet.
                        </p>
                        <p>
                            For the trumpet will sound,<br>
                            the dead will be raised incorruptible,<br>
                            and we shall be changed.
                        </p>
                        <p>
                            For that which is corruptible must clothe itself with incorruptibility,<br>
                            and that which is mortal must clothe itself with immortality.<br>
                            And when this which is corruptible clothes itself with incorruptibility<br>
                            and this which is mortal clothes itself with immortality,<br>
                            then the word that is written shall come about:
                        </p>
                        <p>
                            Death is swallowed up in victory.<br>
                            Where, O death, is your victory?<br>
                            Where, O death, is your sting?
                        </p>
                        <p>
                            The sting of death is sin,<br>
                            and the power of sin is the law.<br>
                            But thanks be to God who gives us the victory<br>
                            through our Lord Jesus Christ.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>B-6 A reading from the Letter of St. Paul to the Romans 14:7-9, 10c-12</h3>
                        <p>
                            Brothers and sisters:<br>
                            No one lives for oneself,<br>
                            and no one dies for oneself.<br>
                            For if we live, we live for the Lord,<br>
                            and if we die, we die for the Lord;<br>
                            so then, whether we live or die, we are the Lord’s.<br>
                            For this is why Christ died and came to life,<br>
                            that he might be Lord of both the dead and the living.
                        </p>
                        <p>
                            Why then do you judge your brother?<br>
                            Or you, why do you look down on your brother?<br>
                            For we shall all stand before the judgment seat of God;<br>
                            for it is written:<br>
                            As I live, says the Lord, every knee<br>
                            shall bend before me,<br>
                            and every tongue shall give praise to God.<br>
                            So then each of us shall give an accounting of himself to God.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-7 A reading from the second Letter of Saint Paul to Timothy 4:6-8</h3>
                        <p>
                            Beloved:<br>
                            I am already being poured out like a libation,<br>
                            and the time of my departure is at hand.<br>
                            I have competed well; I have finished the race;<br>
                            I have kept the faith.<br>
                            From now on the crown of righteousness awaits me,<br>
                            which the Lord, the just judge,<br>
                            will award to me on that day, and not only to me,<br>
                            but to all who have longed for his appearance.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>B-8 A reading from the Second Letter of St. Paul to the Corinthians 4:14–5:1</h3>
                        <p>
                            Brothers and sisters:<br>
                            Knowing that the One who raised the Lord Jesus<br>
                            will raise us also with Jesus<br>
                            and place us with you in his presence.
                        </p>
                        <p>
                            Everything indeed is for you,<br>
                            so that the grace bestowed in abundance on more and more people<br>
                            may cause the thanksgiving to overflow for the glory of God.
                        </p>
                        <p>
                            Therefore, we are not discouraged;<br>
                            rather, although our outer self is wasting away,<br>
                            our inner self is being renewed day by day.
                        </p>
                        <p>
                            For this momentary light affliction<br>
                            is producing for us an eternal weight of glory beyond all comparison,<br>
                            as we look not to what is seen but to what is unseen;<br>
                            for what is seen is transitory, but what is unseen is eternal.
                        </p>
                        <p>
                            For we know that if our earthly dwelling, a tent,<br>
                            should be destroyed,<br>
                            we have a building from God,<br>
                            a dwelling not made with hands, eternal in heaven.
                        </p>
                        <h3>The word of the Lord</h3>
                        <p>B-9 A reading from the Second Letter of St. Paul to the Corinthians 5:1, 6-10</p>
                        <p>
                            Brothers and sisters:<br>
                            We know that if our earthly dwelling, a tent,<br>
                            should be destroyed,<br>
                            we have a building from God,<br>
                            a dwelling not made with hands,<br>
                            eternal in heaven.
                        </p>
                        <p>
                            We are always courageous,<br>
                            although we know that while we are at home in the body<br>
                            we are away from the Lord,<br>
                            for we walk by faith, not by sight.
                        </p>
                        <p>
                            Yet we are courageous,<br>
                            and we would rather leave the body and go home to the Lord.<br>
                            Therefore, we aspire to please him,<br>
                            whether we are at home or away.<br>
                            For we must all appear before the judgment seat of Christ,<br>
                            so that each may receive recompense,<br>
                            according to what he did in the body, whether good or evil.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-10 A reading from the First Letter of St. Paul to the Thessalonians 4:13-18</h3>
                        <p>
                            We do not want you to be unaware, brothers and sisters,<br>
                            about those who have fallen asleep,<br>
                            so that you may not grieve like the rest, who have no hope.<br>
                            For if we believe that Jesus died and rose,<br>
                            so too will God, through Jesus,<br>
                            bring with him those who have fallen asleep.<br>
                            Indeed, we tell you this, on the word of the Lord,<br>
                            that we who are alive,<br>
                            who are left until the coming of the Lord,<br>
                            will surely not precede those who have fallen asleep.<br>
                            For the Lord himself, with a word of command,<br>
                            with the voice of an archangel and with the trumpet of God,<br>
                            will come down from heaven,<br>
                            and the dead in Christ will rise first.
                        </p>
                        <p>
                            Then we who are alive, who are left,<br>
                            will be caught up together with them in the clouds<br>
                            to meet the Lord in the air.<br>
                            Thus we shall always be with the Lord.<br>
                            Therefore, console one another with these words.
                        </p>
                        <p>The word of the Lord.</p>
                        <p>&nbsp;</p>
                        <h3>B-11 A reading from the second Letter of Saint Paul to Timothy 2:8-13</h3>
                        <p>
                            Beloved:<br>
                            Remember Jesus Christ, raised from the dead, a descendant of David:<br>
                            such is my Gospel, for which I am suffering,<br>
                            even to the point of chains, like a criminal.<br>
                            But the word of God is not chained.<br>
                            Therefore, I bear with everything for the sake of those who are chosen,<br>
                            so that they too may obtain the salvation that is in Christ Jesus,<br>
                            together with eternal glory.<br>
                            This saying is trustworthy:<br>
                            If we have died with him<br>
                            we shall also live with him;<br>
                            if we persevere<br>
                            we shall also reign with him.<br>
                            But if we deny him<br>
                            he will deny us.<br>
                            If we are unfaithful<br>
                            he remains faithful,<br>
                            for he cannot deny himself.
                        </p>
                        <p>The word of the Lord.</p>
                        <h3>B-12 A reading from the first Letter of Saint John 3:1-2</h3>
                        <p>
                            Beloved:<br>
                            See what love the Father has bestowed on us<br>
                            that we may be called the children of God.<br>
                            Yet so we are.<br>
                            The reason the world does not know us<br>
                            is that it did not know him.<br>
                            Beloved, we are God’s children now;<br>
                            what we shall be has not yet been revealed.<br>
                            We do know that when it is revealed we shall be like him,<br>
                            for we shall see him as he is.
                        </p>
                        <p>The word of the Lord.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#funeralreading" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>Prayer of the Faithful
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h3>Prayer of the Faithful</h3>
                        <h3>Option A</h3>
                        <p>
                            Opening Prayer<br>
                            We are assembled here in faith and confidence to pray for our (brother/sister). Strengthen our hope so that we may live in the expectation of your Son’s coming.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            We pray for ________________’s family, that the Lord will fill the present emptiness in their hearts with the love and prayerful support of many friends.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For all those people who ministered to ______________during (his/her) illness, that they may be blessed in abundance with God’s love for them.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For each of us with whom _________________ so generously shared (his/her) many gifts, may we, too, grow in the ability to share our gifts and lighten the burdens of others.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For all those who loved and were loved by _________________, that we may find comfort in our belief in the Lord’s promise to us of eternal life.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For each of us here present that God will bless us richly with the gifts He knows we need to fully celebrate life and recognize the new beginning which he offers us each day.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For a moment, let us be with our own memories of _______________.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>Closing Prayer</p>
                        <h3>Option B</h3>
                        <p>
                            Opening Prayer<br>
                            We are assembled here in faith and confidence to pray for our (brother/sister). Strengthen our hope so that we may live in the expectation of your Son’s coming.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            We pray for __________________ family, that the Lord will fill the present emptiness in their hearts with the love and prayerful support of many friends.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For each of us with whom _____________________ so generously shared (his/her) many gifts, may we, too, grow in the ability to share our gifts and lighten the burdens of others.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For all those who loved and were loved by _________________, that we may find comfort in our belief in the Lord’s promise to us of eternal life.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For each of us here present that God will bless us richly with the gifts he knows we need to fully celebrate life and recognize the new beginning which He offers us each day.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For a moment, let us be with our own memories of ________________.<br>
                            We pray to the Lord.LORD HEAR OUR PRAYER.
                        </p>
                        <p>Closing Prayer</p>
                        <h3>Option C</h3>
                        <p>
                            Opening Prayer<br>
                            We are assembled here in faith and confidence to pray for our (brother/sister), __________________. Strengthen our hope so that we may live in the expectation of your Son’s coming.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            Our (brother/sister) ___________________ was nourished at the table of the Lord. Welcome (him/her) into the halls of the heavenly banquet.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For the family and friends of ____________________, that they may seek comfort and consolation. Heal their pain and dispel the darkness and the doubt that comes from grief.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For all those who loved and were loved by __________________, that we may find comfort in our belief in the Lord’s promise of eternal life.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            Those who trusted in the Lord now sleep in the Lord. Give refreshment, rest and peace to all whose faith is known to you alone.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            For a moment let us now be with our own memories of ________________, (pause)…<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>Closing Prayer</p>
                        <h3>Option D</h3>
                        <p>
                            Opening Prayer<br>
                            We are assembled here in faith and confidence to pray for our (brother/sister), __________________. Strengthen our hope so that we may live in the expectation of your Son’s coming.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            Our (brother/sister), ________________ was nourished at the table of the Savior. Welcome (him/her) into the halls of the heavenly banquet.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            Many friends and members of our families have gone before us and await the kingdom. Grant them an everlasting home with your Son.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            Those who trusted in the Lord now sleep in the Lord. Give refreshment, rest and peace to all whose faith is known to you alone.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.
                        </p>
                        <p>
                            The family and friends of ____________________ seek comfort and consolation. Heal their pain and dispel the darkness and doubt that come from grief.<br>
                            We pray to the Lord. LORD HEAR OUR PRAYER.<br>
                            Closing Prayer
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#funeralreading" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>Gospel Reading
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h3>
                            GOSPEL READINGS
                            
                        </h3>
                        <p>please choose one</p>
                        <h3>C-1 + A reading from the holy Gospel according to Matthew 5:1-12a</h3>
                        <p>
                            When Jesus saw the crowds, he went up the mountain,<br>
                            and after he had sat down, his disciples came to him.<br>
                            He began to teach them, saying:<br>
                            “Blessed are the poor in spirit,<br>
                            for theirs is the Kingdom of heaven.<br>
                            Blessed are they who mourn,<br>
                            for they will be comforted.<br>
                            Blessed are the meek,<br>
                            for they will inherit the land.<br>
                            Blessed are they who hunger and thirst for righteousness,<br>
                            for they will be satisfied.<br>
                            Blessed are the merciful,<br>
                            for they will be shown mercy.<br>
                            Blessed are the clean of heart,<br>
                            for they will see God.<br>
                            Blessed are the peacemakers,<br>
                            for they will be called children of God.<br>
                            Blessed are they who are persecuted for the sake of righteousness,<br>
                            for theirs is the Kingdom of heaven.<br>
                            Blessed are you when they insult you and persecute you<br>
                            and utter every kind of evil against you falsely because of me.<br>
                            Rejoice and be glad,<br>
                            for your reward will be great in heaven.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-2 + A reading from the holy Gospel according to Matthew 11:25-30</h3>
                        <p>
                            At that time Jesus answered:<br>
                            “I give praise to you, Father, Lord of heaven and earth,<br>
                            for although you have hidden these things<br>
                            from the wise and the learned<br>
                            you have revealed them to the childlike.<br>
                            Yes, Father, such has been your gracious will.<br>
                            All things have been handed over to me by my Father.<br>
                            No one knows the Son except the Father,<br>
                            and no one knows the Father except the Son<br>
                            and anyone to whom the Son wishes to reveal him.”<br>
                            “Come to me, all you who labor and are burdened,<br>
                            and I will give you rest.<br>
                            Take my yoke upon you and learn from me,<br>
                            for I am meek and humble of heart;<br>
                            and you will find rest for yourselves.<br>
                            For my yoke is easy, and my burden light.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-3 + A reading from the holy Gospel according to Matthew 25:31-46</h3>
                        <p>
                            Jesus said to his disciples:<br>
                            “When the Son of Man comes in his glory,<br>
                            and all the angels with him,<br>
                            he will sit upon his glorious throne,<br>
                            and all the nations will be assembled before him.<br>
                            And he will separate them one from another,<br>
                            as a shepherd separates the sheep from the goats.<br>
                            He will place the sheep on his right and the goats on his left.
                        </p>
                        <p>
                            Then the king will say to those on his right,<br>
                            ‘Come, you who are blessed by my Father.<br>
                            Inherit the kingdom prepared for you from the foundation of the world.<br>
                            For I was hungry and you gave me food,<br>
                            I was thirsty and you gave me drink,<br>
                            a stranger and you welcomed me,<br>
                            naked and you clothed me,<br>
                            ill and you cared for me,<br>
                            in prison and you visited me.’<br>
                            Then the righteous will answer him and say,<br>
                            ‘Lord, when did we see you hungry and feed you,<br>
                            or thirsty and give you drink?<br>
                            When did we see you a stranger and welcome you,<br>
                            or naked and clothe you?<br>
                            When did we see you ill or in prison, and visit you?’
                        </p>
                        <p>
                            And the king will say to them in reply,<br>
                            ‘Amen, I say to you, whatever you did<br>
                            for one of these least brothers of mine, you did for me.’<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-4 + A reading from the holy Gospel according to Luke 7:11-17</h3>
                        <p>
                            Jesus journeyed to a city called Nain,<br>
                            and his disciples and a large crowd accompanied him.<br>
                            As he drew near to the gate of the city,<br>
                            a man who had died was being carried out,<br>
                            the only son of his mother, and she was a widow.<br>
                            A large crowd from the city was with her.
                        </p>
                        <p>
                            When the Lord saw her,<br>
                            he was moved with pity for her and said to her,<br>
                            “Do not weep.”<br>
                            He stepped forward and touched the coffin;<br>
                            at this the bearers halted,<br>
                            and he said, “Young man, I tell you, arise!”<br>
                            The dead man sat up and began to speak,<br>
                            and Jesus gave him to his mother.
                        </p>
                        <p>
                            Fear seized them all, and they glorified God, exclaiming,<br>
                            “A great prophet has arisen in our midst,”<br>
                            and “God has visited his people.”<br>
                            This report about him spread through the whole of Judea<br>
                            and in all the surrounding region.<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-5 + A reading from the holy Gospel according to Luke 4:13-16, 28-35</h3>
                        <p>
                            That very day, the first day of the week,<br>
                            two of the disciples of Jesus were going<br>
                            to a village called Emmaus, seven miles from Jerusalem,<br>
                            and they were conversing about all the things that had occurred.<br>
                            And it happened that while they were conversing and debating,<br>
                            Jesus himself drew near and walked with them,<br>
                            but their eyes were prevented from recognizing him.<br>
                            As they approached the village to which they were going,<br>
                            he gave the impression that he was going on farther.<br>
                            But they urged him, “Stay with us,<br>
                            for it is nearly evening and the day is almost over.”<br>
                            So he went in to stay with them.<br>
                            And it happened that, while he was with them at table,<br>
                            he took bread, said the blessing,<br>
                            broke it, and gave it to them.<br>
                            With that their eyes were opened and they recognized him,<br>
                            but he vanished from their sight.<br>
                            Then they said to each other,<br>
                            “Were not our hearts burning within us<br>
                            while he spoke to us on the way and opened the Scriptures to us?”<br>
                            So they set out at once and returned to Jerusalem<br>
                            where they found gathered together<br>
                            the Eleven and those with them, who were saying,<br>
                            “The Lord has truly been raised and has appeared to Simon!”<br>
                            Then the two recounted<br>
                            what had taken place on the way<br>
                            and how he was made known to them in the breaking of the bread.<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-6 + A reading from the holy Gospel according to John 6:37-40</h3>
                        <p>
                            Jesus said to the crowds:<br>
                            “Everything that the Father gives me will come to me,<br>
                            and I will not reject anyone who comes to me,<br>
                            because I came down from heaven not to do my own will<br>
                            but the will of the one who sent me.<br>
                            And this is the will of the one who sent me,<br>
                            that I should not lose anything of what he gave me,<br>
                            but that I should raise it on the last day.<br>
                            For this is the will of my Father,<br>
                            that everyone who sees the Son and believes in him<br>
                            may have eternal life,<br>
                            and I shall raise him on the last day.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-7 + A reading from the holy Gospel according to John 6:51-59</h3>
                        <p>
                            Jesus said to the crowds:<br>
                            “I am the living bread that came down from heaven;<br>
                            whoever eats this bread will live forever;<br>
                            and the bread that I will give is my Flesh<br>
                            for the life of the world.”<br>
                            The Jews quarreled among themselves, saying,<br>
                            “How can this man give us his Flesh to eat?”<br>
                            Jesus said to them,<br>
                            “Amen, amen, I say to you,<br>
                            unless you eat the Flesh of the Son of Man and drink his Blood,<br>
                            you do not have life within you.<br>
                            Whoever eats my Flesh and drinks my Blood<br>
                            has eternal life,<br>
                            and I will raise him on the last day.<br>
                            For my Flesh is true food,<br>
                            and my Blood is true drink.<br>
                            Whoever eats my Flesh and drinks my Blood<br>
                            remains in me and I in him.
                        </p>
                        <p>
                            Just as the living Father sent me<br>
                            and I have life because of the Father,<br>
                            so also the one who feeds on me<br>
                            will have life because of me.<br>
                            This is the bread that came down from heaven.<br>
                            Unlike your ancestors who ate and still died,<br>
                            whoever eats this bread will live forever.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-8 + A reading from the holy Gospel according to John 11:21-27</h3>
                        <p>
                            Martha said to Jesus,<br>
                            “Lord, if you had been here,<br>
                            my brother would not have died.<br>
                            But even now I know that whatever you ask of God,<br>
                            God will give you.”<br>
                            Jesus said to her,<br>
                            “Your brother will rise.”<br>
                            Martha said to him,<br>
                            “I know he will rise,<br>
                            in the resurrection on the last day.”
                        </p>
                        <p>
                            Jesus told her,<br>
                            “I am the resurrection and the life;<br>
                            whoever believes in me, even if he dies, will live,<br>
                            and everyone who lives and believes in me will never die.<br>
                            Do you believe this?”<br>
                            She said to him, “Yes, Lord.<br>
                            I have come to believe that you are the Christ, the Son of God,<br>
                            the one who is coming into the world.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-9 + A reading from the holy Gospel according to John 12:23-26</h3>
                        <p>
                            Jesus said to his disciples:<br>
                            “The hour has come for the Son of Man to be glorified.<br>
                            Amen, amen, I say to you,<br>
                            unless a grain of wheat falls to the ground and dies,<br>
                            it remains just a grain of wheat;<br>
                            but if it dies, it produces much fruit.<br>
                            Whoever loves his life will lose it,<br>
                            and whoever hates his life in this world<br>
                            will preserve it for eternal life.<br>
                            Whoever serves me must follow me,<br>
                            and where I am, there also will my servant be.<br>
                            The Father will honor whoever serves me.”<br>
                            The Gospel of the Lord.
                        </p>
                        <h3>C-10 + A reading from the holy Gospel according to John 14:1-6</h3>
                        <p>
                            Jesus said to his disciples:<br>
                            “Do not let your hearts be troubled.<br>
                            You have faith in God; have faith also in me.<br>
                            In my Father’s house there are many dwelling places.<br>
                            If there were not,<br>
                            would I have told you that I am going to prepare a place for you?<br>
                            And if I go and prepare a place for you,<br>
                            I will come back again and take you to myself,<br>
                            so that where I am you also may be.<br>
                            Where I am going you know the way.”<br>
                            Thomas said to him,<br>
                            “Master, we do not know where you are going;<br>
                            how can we know the way?”<br>
                            Jesus said to him, “I am the way and the truth and the life.<br>
                            No one comes to the Father except through me.”<br>
                            The Gospel of the Lord.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

