
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Funeral_Layout.cshtml";
}

<div class="container row">
    <div class="col-md-9 paddingleftremove">
        <h3>Funeral Information</h3>
        <hr />
        <p>
            On behalf of the Parish Community of St. Malachy Catholic Church, we would like to extend our deepest sympathy at the loss of your loved one.
        </p>
        <p>
            Please know that we are here to help you and support you during this difficult time. One of our Bereavement Ministers will assist you in the planning of the Funeral Mass, and suggest ways for family and friends to be personally involved.
        </p>
        <p>
            Music Suggestions and Scripture Readings appropriate for the Catholic Funeral Rite are shown below. They are beautiful passages of comfort, peace, and hope.
            May God’s strength and peace be with you.
        </p>
        @*<p>
                <font size="+2">I</font>t often happens that the birth of a child is the first contact
                that a young couple have had with the church in a long time.If this is your case,
                be assured that we want to extend to you our congratulations on the birth of your
                child and our sincere welcome should you decide to join Saint Malachy Parish. Joining
                a parish is more than filling out a form. Joining a parish means bonding with other
                believers especially through regular participation in Sunday worship, lifelong learning
                and ministry. Soon after you make contact with the parish you will be invited to
                meet with the pastor, pastoral associate or other staff person who will extend the
                parish's greetings and attempt to answer any questions you may have about the sacrament
                or the parish and how you can begin to feel more at home at Saint Malachy's. We
                prefer to meet with young parents in person, preferably after the mass you usually
                attend on the weekend, so that we can get to know you a little better.
            </p>
            <p>
                <font size="+2">T</font><b>he Preparation:</b> After this initial meeting, you will
                be invited to join with a staff person and host couple who will conduct a one afternoon
                preparation session in the church. The session begins with attendance at a Sunday
                liturgy during which the child to be baptized is signed with the cross. A special
                blessing is prayed over the children, parents and godparents towards the end of
                the mass. Afterwards, a light lunch is served and then, for the next hour or so,
                parents and godparents meet with the other new parents in a context of reflection
                and prayer. The staff person and host couple will explore with the participants
                the meaning of baptism, the ensuing roles for the parents and godparents in the
                religious development of the child, the role of the parish in the ongoing life of
                the family, etc. The session is intended to be informal, friendly and informative.
                In addition to attending this preparation session, you will at some point be asked
                to fill out a form listing some of the pertinent information the church will need
                to register your child's baptism. This includes the names of both the parents and
                godparents, the child's date of birth, etc. Since in the Catholic Church one's baptismal
                record is of lifelong significance [all future sacraments including marriage are
                recorded on your church of baptisms registry], this information is very important.
                Regarding godparents,at least one should be a baptized and confirmed Roman Catholic
                who is actively a member of the church. The second person, should you choose to
                have one, may be a Protestant Christian who, again, is actively involved in his/her
                church. Asking nonbelievers or inactive Christians to be godparents puts them in
                a compromised position of publicly having to affirm what they do not really believe
                or practice. It is important to view the godparent's role as far more than a social
                convention. The godparent is a witness to a life of Christian faith, prayer and
                service.
            </p>
            <p>
                <font size="+2">T</font><b>he Celebration:</b> We regularly schedule baptisms about
                ten times a year either during one of the Sunday masses or on a Sunday afternoon.
                On rare occasions [illness in the family, relatives traveling a long distance who
                are not able to be present on a regularly scheduled Sunday, etc.] we will try to
                celebrate baptism at a different time. Experience has shown, however, that baptism
                during mass with festive music, robust ritual and a supportive congregation is far
                more beautiful and engaging than a private family ceremony.
            </p>
            <p>
                <font size="+2">W</font>hile many of the details regarding the actual celebration
                will be covered in the preparation session, we mention just a few salient features
                here. Family and friends of those to be baptized arrive early and are seated near
                the front of the church. All are asked to participate fully in the liturgy by attentively
                listening to the readings, fervently praying and joyfully singing the hymns and
                liturgical responses. The families are introduced at the beginning of the service
                to the congregation by the couple who have led the preparation session. After the
                readings and homily, the prayers of the faithful and the litany of the saints are
                sung by all. Thereafter,water is poured and blessed for the baptism. The parents
                and godparents, along with the entire congregation, are invited to profess their
                faith by responding in song to the questions of the creed. The children are then
                bathed in the water [baptized] and rubbed with chrism oil [anointed] in front of
                all the church. At this point, in one of the most touching aspects of our baptismal
                ritual, the child is held aloft by the parents while the congregation sings the
                acclamation<b>"You are God's great work of art fashioned with great love."</b> Children
                and parents thereupon proceed to the sacristy where the children are dressed in
                their baptismal garment. Upon reentering the main body of the church the families
                are given a baptismal candle to remind them that the light of faith is meant to
                be kept burning brightly for the rest of the child's life.
            </p>
            <p>
                <font size="+2">W</font>e hope that this thumbnail sketch of the preparation and
                celebration of baptism at Saint Malachy Parish is a help to you as you contemplate
                the baptism of your child. As a parish we share your joy and gratitude for the gift
                of new life in our midst. As you baptize your child,we earnestly pray that we may
                be a worthy community of support, example and prayer for you and your family in
                the years ahead.
            </p>*@
    </div>
    </div>



