@{
    ViewBag.Title = "Catholic Appeal";
}
<div class="row container margintopthree">
    <div class="embed-responsive embed-responsive-16by9">
        @*<div id="videoImage">
        <img src="~/Content/Images/CA2017.jpg" />
    </div>*@
            <div id="video">
                <video controls="controls" width="800" height="600" name="Video Name" src="~/Content/CA Video 2017 ENGLISH.mov" x-ms-playtodisabled="true" autoplay="autoplay"></video>
            </div>


    </div>
</div>
