@{
    ViewBag.Title = "Contact";
}
<div class="container row">
    <div class="col-md-12 paddingRemoveLeft">
        <h3>Pastoral Staff</h3>
        <hr />
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/FrJohnCapuci.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Fr. John M. Capuci
            </div>
            <div class="staffDetails text-center">
                Pastor
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111 x14
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:FrCapuci@Saint-Malachy.org">FrCapuci@Saint-Malachy.org</a>
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Pastor@Saint-Malachy.org">Pastor@Saint-Malachy.org</a>
            </div>
        </div>
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/CamilleMainardi.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Camille Mainardi
            </div>
            <div class="staffDetails text-center">
                Religious Education Director and Baptisms
            </div>
            <div class="staffDetails text-center">
                Grades 1-6, 7-8 and 9-10
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111 x18
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:religioused@Saint-Malachy.org">religioused@Saint-Malachy.org</a>
            </div>
        </div>
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/church1.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Danny
            </div>
            <div class="staffDetails text-center">
                Music Director
            </div>
            <div class="staffDetails text-center">
                Wedding Music
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111 x23
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Office@Saint-Malachy.org">Office@Saint-Malachy.org</a>
            </div>
        </div>
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/KathleenKeady.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Kathleen Keady
            </div>
            <div class="staffDetails text-center">
                Parish Secretary & Business Manager
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111 x10
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Office@Saint-Malachy.org">Office@Saint-Malachy.org</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 paddingRemoveLeft staffCategoryContainer">
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/church1.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Luis Nieto
            </div>
            <div class="staffDetails text-center">
                youth ministry and religious Ed 7,8,9 and 10 (confirmation program)
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:religioused@Saint-Malachy.org">religioused@Saint-Malachy.org</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 paddingRemoveLeft staffCategoryContainer">
        <h3>Support Staff</h3>
        <hr />
        
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/GaryDew.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Gary Dew
            </div>
            <div class="staffDetails text-center">
                Facilities Manager
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:facilities@saint-malachy.org">facilities@saint-malachy.org</a>
            </div>
        </div>
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/RuthYanetti.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Ruth Yannetti
            </div>
            <div class="staffDetails text-center">
                Bulletin Secretary
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111 X23
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:stmalachyburlington@yahoo.com">stmalachyburlington@yahoo.com</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 paddingRemoveLeft staffCategoryContainer">
        <h3>Priests in Residence</h3>
        <hr />
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/FRAugustineTufail.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Fr. Augustine Tufail
            </div>
            <div class="staffDetails text-center">
                Pakistan
            </div>
            <div class="staffDetails text-center">
                Chaplain VA Hospital Bedford
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Office@Saint-Malachy.org">Office@Saint-Malachy.org</a>
            </div>
        </div>
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/FrJosephKeville.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Fr. Joseph Keville
            </div>
            <div class="staffDetails text-center">
                Chaplain
            </div>
            <div class="staffDetails text-center">
                Lahey Hospital Burlington
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Office@Saint-Malachy.org">Office@Saint-Malachy.org</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 paddingRemoveLeft staffCategoryContainer">
        <h3>Visiting Priests</h3>
        <hr />
        <div class="col-md-3 paddingRemoveLeft">
            <div class="pictureContainer">
                <p class="pictureMargin">
                    <img class="staffImg" src="~/Content/Images/Staff/FrThomasKane.jpg" />
                </p>
            </div>
            <div class="staffDetails text-center">
                Fr. Thomas A. Kane, C.S.P.
            </div>
            <div class="staffDetails text-center">
                Professor
            </div>
            <div class="staffDetails text-center">
                Boston College
            </div>
            <div class="staffDetails text-center">
                Phone: 1-781-272-5111
            </div>
            <div class="staffDetails text-center">
                <a href="mailto:Office@Saint-Malachy.org">Office@Saint-Malachy.org</a>
            </div>
        </div>
    </div>
</div>
