
@{
    ViewBag.Title = "Mass Times";
}
<div class="container row">
    @*<div class="col-md-3 paddingleftremove"><img src="~/Content/Images/148849523.jpg" width="250px" height="800px"/></div>*@
    <div class="col-md-12">
        <div>
            <h3 class="text-danger"><b>Masses For Christmas Eve And Christmas Day</b></h3>
            <hr />
            <ul>
                <li>
                    <b>CHRISTMAS EVE</b>
                    <ul>
                        <li>
                            Saturday, December 24 4:00 pm and 12:00 Midnight
                        </li>
                    </ul>
                </li>
                <li>
                    <b>CHRISTMAS DAY</b>
                    <ul>
                        <li>
                            Sunday, December 25 10:00 am
                        </li>
                    </ul>
                </li>
                <li>
                    <b>SOLEMNITY OF MARY,THE HOLY MOTHER OF GOD</b>
                    <ul>
                        <li>
                            Saturday, December 31, 2016 4:00pm
                        </li>
                        <li>
                            Sunday, January 1, 2017 8:00 am and 10:30 am
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h3>Liturgy and Devotion Schedules</h3>
            <hr />
            <ul>
                <li>
                    <b>Weekends</b>
                    <ul>
                        <li>
                            Saturday: 4:00 PM
                        </li>
                        <li>
                            Sunday: 8:00 AM and 10:30 AM
                        </li>
                        <li>
                            Sunday: 8:00 AM and 10:00 AM - (Memorial Day through Labor Day)
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <b>Weekday Mass</b>
                    <ul>
                        <li>
                            Wednesday through Friday at 9:00 AM
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <b>Daily Rosary</b>
                    <ul>
                        <li>
                            Monday through Friday at 8:40 AM
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <b>Morning Prayer and Communion</b>
                    <ul>
                        <li>
                            Monday and Tuesday at 9:00 AM
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <b>Sacrament of Reconciliation (Confession, Absolution, Penance)</b>
                    <ul>
                        <li>
                            Saturday from 3:15 to 3:45 PM; in Chapel area prior to the 4 PM Mass
                        </li>
                        <li>
                            Anytime by Appointment
                        </li>
                        <li>
                            Communal Service in Advent and in Lent - dates will be in the Weekly Bulletin
                        </li>
                    </ul>
                </li>
            </ul>
            <h3> Liturgical experiences at St. Malachy Parish</h3>
            <hr />
            <p><b> Contemporary Liturgy:</b></p>
            <p class="text-justify">
                The 10:30 AM Mass on most Sundays has come to be called the Family Mass
                Since it is family friendly and the most popular for families, youth and children to all come together as a family
                The young children are asked, during the Mass, to come stand around the altar for the Presentation of the Gifts

                This Mass is Video Taped for showing on Burlington Local Cable TV (BCAT), one week later.
                Show Times are usually Sunday morning and evening and also Monday evening.
                Exact Times can be obtained from BCAT
                Please Email for more information and also Thank BCAT for providing this service for 15+ years.
            </p>
            <p><a href="mailto:bcat@bcattv.org?subject=St Malachy Mass Times&amp;body=">Click to Email BCAT</a></p>
            <p><b> Mass Notes:</b></p>
            <p class="text-justify">
                All of the weekend liturgies at Saint Malachy have a complete musical program including hymns, psalms and acclamations.
                At the 4:00 PM [Saturday] and 8:00 AM [Sunday] Mass, the music is accompanied by either piano or organ and a cantor.
                The 10:30 AM Mass is accompanied by a youth and adult choir singing four part arrangements.
                The music incorporates the best of traditional and contemporary settings.
            </p>
            <p class="text-justify">
                <b> Coffee Hour:</b>
                <br />
                <span>
                    The 10:30 AM Sunday Mass is followed most weeks by a coffee, juice and donut reception in the parish hall below the main church.
                    When you visit us for this Mass we hope you will also be able to join us for this time of conversation and community camaraderie.
                    Join us and speak with the Pastor and Staff and find out about the many Ministries at St Malachy
                </span>
            </p>
            <h3>Local Chapels</h3>
            <hr />
            <p><b>Chapel at Lahey Clinic Medical Center:</b></p>
            <p class="text-justify">
                The Chapel at Lahey is a peaceful, quiet place that may be used by staff, patients, and families/visitors.
                It is open 24 hours a day and is located next to the auditorium off of the fourth floor main lobby
                Catholic Mass is celebrated Monday through Wednesday at noon,
                and there is a Catholic Communion service Thursdays and Fridays at noon.
                All are welcome
            </p>
            <p><b>Chapel at VA Hospital located in Bedford, MA.:</b></p>
            <p class="text-justify">
                A nondenominational chapel is located in Bldg. 81 on the first floor of the hospital.
                Catholic Mass is celebrated Monday through Friday at 11:30 AM,
                Saturday at 4 PM and Sunday at 10:00 AM
                Reconciliation (Confession) are before each Mass, <b>By Appointment</b>
                Please contact the Catholic Chaplain at extension 781-687-2384
                for Reconciliation appointment, additional information or to speak with the chaplain.
            </p>
        </div>
    </div>
</div>

